<div class="form-row">
	<div class="form-group col-md-12">
		<label for="actionName" data-i18n="ai:lbl_title_task"></label>
		<input type="text" name="titleTask" class="form-control" id="titleTask"
			placeholder="%TITLE%_%SLANG%_%TLANG%_%TASKID%" required="true">
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-3">
		<label data-i18n="ai:lbl_due_date"></label>
	</div>
	<div class="form-group col-md-2">
		<select id="operator" class="form-control">
			<option value="-" selected>-</option>
			<option value="+">+</option>
		</select>
	</div>
	<div class="form-group col-md-4">
		<input type="number" value="0" style="width: 125px;" min="0" id="duedate" max="100" name="time" />
	</div>
	<div class="form-group col-md-3">
		<select id="typeDueDate" class="form-control pull-left">
			<option value="H" selected data-i18n="ai:option_hours"></option>
			<option value="D" data-i18n="ai:option_days"></option>
			<option value="P" data-i18n="ai:option_percentage"></option>
		</select>
	</div>
</div>
<!-- <div class="form-row">
		<div class="form-group col-md-8">
			<label data-i18n="ai:lbl_append_mt"></label>
		</div>
		<div class="form-group col-md-4">
			<select id="translation" class="form-control">
				<option value="----" selected>------</option>
				<option value="P100">P100</option>
				<option value="P95">P95</option>
				<option value="P85">P85</option>
				<option value="P75">P75</option>
				<option value="P50">P50</option>
				<option value="REP">REP</option>
				<option value="ICE">ICE</option>
			</select>
		</div>
	</div> -->
<div class="form-row">
	<div class="form-group col-md-8">
		<label data-i18n="ai:lbl_append_proof"></label>
	</div>
	<div class="form-group col-md-4">
		<label class="block">
			<input type="checkbox" id="appendWCProofForecast" class="ace">
			<span class="lbl"> </span>
		</label>
	</div>
</div>
<!-- <div class="form-row">
		<div class="form-group col-md-8">
			<label data-i18n="ai:lbl_include_ice"></label>
		</div>
		<div class="form-group col-md-4">
			<label class="block">
				<input type="checkbox" id="addIceWc" class="ace">
				<span class="lbl"> </span>
			</label>
		</div>
	</div> -->
<div class="form-row">
	<div class="form-group col-xs-12">
		<label class="control-label" data-i18n="ai:lbl_description"></label>
		<div>
			<div data-name="actionDescription" data-id="actionDescription" id="actionDescription"
				class="wysiwyg-editor"></div>
		</div>
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-12">
		<h4>
			<b data-i18n="ai:lbl_file_management">Gestió de fitxers</b>
		</h4>
	</div>
</div>
<div class="form-row" style="padding-left: 20px">
	<div class="form-group col-md-10">
		<label class="block">
			<input type="checkbox" id="overwrite-file-relation" class="ace">
			<span class="lbl" data-i18n="ai:lbl_overwrite_file_relation"></span>
		</label>
		<!-- <input class="form-check-input" type="checkbox" id="overwrite" /> <label class="form-check-label" for="overwrite" data-i18n="ai:lbl_enabled_wordcount"></label> -->
	</div>
</div>
<div class="container-test container-fluid" id="file-relation-container">
	<table class="table table-bordered text-left table-overwrite">
		<thead>
			<tr>
				<th>AI</th>
				<th>TMS</th>
				<th>ZIP</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><label class="">Source Files</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="source_files" value="0"></select></td>
						<td><input type="checkbox" id="compress_source_files"></td>
			</tr>
			<tr>
				<td><label class="">Reference Files</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="reference_files" value="0"></select></td>
						<td><input type="checkbox" id="compress_reference_files"></td>
			</tr>
			<tr>
				<td><label class="">TM Files</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="tm_files" value="0"></select></td>
						<td></td>
			</tr>
		</tbody>
	</table>

	<!-- <label class="block">
		<input type="checkbox" id="enable-file-compress" class="ace">
		<span class="lbl">Comprimir ficheros</span>
	</label>
	<div class="container-fluid" id="compress-file-container">
		<table class="table table-bordered text-left table-overwrite">
			<thead>
				<tr>
					<th>TMS Files</th>
					<th>Compress</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><label class="">Source Files</label></td>
					<td><input type="checkbox" id="compress_source_files"></td>
				</tr>
				<tr>
					<td><label class="">Reference Files</label></td>
					<td><input type="checkbox" id="compress_reference_files"></td>
				</tr>
			</tbody>
		</table>
	</div> -->

</div>

<div class="form-row">
	<div class="form-group col-md-12">
		<h4>
			<b data-i18n="ai:lbl_overwrite_wordcount"></b>
		</h4>
	</div>

</div>
<div class="form-row" style="padding-left: 20px">
	<div class="form-group col-md-10">
		<label class="block">
			<input type="checkbox" id="overwrite-fuzzy-relation" class="ace">
			<span class="lbl" data-i18n="ai:lbl_overwrite_fuzzy_relation">Sobreescribe la relación de fuzzies</span>
		</label>
		<!-- <input class="form-check-input" type="checkbox" id="overwrite" /> <label class="form-check-label" for="overwrite" data-i18n="ai:lbl_enabled_wordcount"></label> -->
	</div>
</div>
<div class="container-test container-fluid" id="fuzzy-relation-container">
	<table class="table table-bordered text-center table-overwrite">
		<thead>
			<tr>
				<th>AI</th>
				<th>TMS</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><label class="col-md-2 text-right col-md-offset-2">ICE</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="percentage_101" value="0"></select></td>
			</tr>
			<tr>
				<td><label class="col-md-2 text-right col-md-offset-2">Repetition</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="repetition" value="0"></select></td>
			</tr>
			<tr>
				<td><label class="col-md-2 text-right col-md-offset-2">100%</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="percentage_100" value="0"></select></td>
			</tr>
			<tr>
				<td><label class="col-md-2 text-right col-md-offset-2">95%</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="percentage_95" value="0"></select></td>
			</tr>
			<tr>
				<td><label class="col-md-2 text-right col-md-offset-2">85%</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="percentage_85" value="0"></select></td>
			</tr>
			<tr>
				<td><label class="col-md-2 text-right col-md-offset-2">75%</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="percentage_75" value="0"></select></td>
			</tr>
			<tr>
				<td><label class="col-md-2 text-right col-md-offset-2">50%</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="percentage_50" value="0"></select></td>
			</tr>
			<tr>
				<td><label class="col-md-2 text-right col-md-offset-2">No Match</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="notmatch" value="0"></select></td>
			</tr>
			<tr>
				<td><label class="col-md-2 text-right col-md-offset-2">Machine Translation</label></td>
				<td><select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="machinetranslation" value="0"></select></td>
			</tr>
			<tr>
				<td><label class="col-md-2 text-right col-md-offset-2">Minutes</label></td>
				<td> <select class="col-md-12 text-left select_fuzzy" type="select" class="form-control select-fuzzy"
						min="0" id="minute" value="0"></select></td>
			</tr>
		</tbody>
	</table>
	<!-- <div class="form-row" id="typeWord1">
		<div class="form-group row">


		</div>
		<div class="form-group row">

		</div>
		<div class="form-group row">


		</div>
		<div class="form-group row">
			 
		</div>
		<div class="form-group row">
			 
		</div>
		<div class="form-group row">
			
			
		</div>
		<div class="form-group row">
			 
		</div>
		<div class="form-group row">
			 
		</div>
		<div class="form-group row">
			
			
		</div>
		<div class="form-group row">
			
		</div>
	</div> -->
</div>
<div class="form-row" style="padding-left: 20px">
	<div class="form-group col-md-10">
		<label class="block">
			<input type="checkbox" id="overwrite" class="ace">
			<span class="lbl" data-i18n="ai:lbl_enabled_wordcount"> </span>
		</label>
		<!-- <input class="form-check-input" type="checkbox" id="overwrite" /> <label class="form-check-label" for="overwrite" data-i18n="ai:lbl_enabled_wordcount"></label> -->
	</div>
	<div class="form-group col-md-2">
		<input type="number" class="form-control" min="0" id="valueOverwrite" value="0" disabled />
	</div>
</div>
<div class="container-test" id="wordCountConteiner">
	<div class="form-row" id="typeWord1">
		<div class="form-group col-md-4">
			<label>ICE</label> <input type="number" class="form-control" min="0" id="ice" value="0" name="ice" />
		</div>
		<div class="form-group col-md-4">
			<label>95 %</label> <input type="number" class="form-control" min="0" id="P95" value="0" name="95" />
		</div>
		<div class="form-group col-md-4">
			<label>50 %</label> <input type="number" class="form-control" min="0" id="P50" value="0" name="50" />
		</div>
	</div>
	<div class="form-row" id="typeWord2">
		<div class="form-group col-md-4">
			<label>REP</label> <input type="number" class="form-control" min="0" id="rep" value="0" name="rep" />
		</div>
		<div class="form-group col-md-4">
			<label>85 %</label> <input type="number" class="form-control" min="0" id="P85" value="0" name="85" />
		</div>
		<div class="form-group col-md-4">
			<label>NM</label> <input type="number" class="form-control" min="0" id="NM" value="0" name="nm" />
		</div>
	</div>
	<div class="form-row" id="typeWord3">
		<div class="form-group col-md-4">
			<label>100 %</label> <input type="number" class="form-control" min="0" id="P100" value="0" name="100" />
		</div>
		<div class="form-group col-md-4">
			<label>75 %</label> <input type="number" class="form-control" min="0" id="P75" value="0" name="75" />
		</div>
		<div class="form-group col-md-4">
			<label>MIN</label> <input type="number" class="form-control" min="0" id="MIN" value="0" name="min" />
		</div>
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-12">
		<h4 style="display: inline">
			<b data-i18n="ai:lbl_more_properties"></b>
		</h4>
	</div>

	<div id="table">

	</div>
</div>
<div class="form-group" style="padding-left: 15px">
	<div class="form-check">
		<label class="block">
			<input data-id="referenceFile" type="checkbox" id="referenceFile" class="ace">
			<span class="lbl" data-i18n="ai:lbl_upload_file_reference"> </span>
		</label>
		<!-- <input class="form-check-input" data-id="referenceFile" type="checkbox" id="referenceFile"/>
      		<label class="form-check-label" for="referenceFile" data-i18n="ai:lbl_upload_file_reference"></label> -->
	</div>
</div>