<form>
  <div class="form-row">
		<div class="form-group col-md-12">
			<label class="control-label"
				for="form-field-1" data-i18n="ai:lbl_enabled"></label>
			<div class="col-md-12">
				<label> <input type="checkbox" name="enabled"
					data-id="enabled" data-name="enabled" id="enabled"
					class="ace ace-switch ace-switch-4 btn-rotate" checked/> <span
					class="lbl" data-lbl=""></span>
				</label>
			</div>
		</div>
		<div class="form-group col-md-12">
      <label for="nameAction" data-i18n="ai:lbl_action_name"></label>
      <input required type="text" class="form-control" id="actionName" data-id="actionName" placeholder="Action name">
    </div>
  </div>
  <div class="form-row">
  	<div class="form-group col-md-12">
  		<h4 ><b data-i18n="ai:lbl_additional_properties"></b></h4>
  	</div>
  </div>
  <div class="form-group" style="padding-left: 15px	">
    <div class="form-check">
      <input class="form-check-input" data-id="onfallback" type="checkbox" id="onfallback"/>
      <label class="form-check-label" for="onfallback" data-i18n="ai:lbl_onfallback"></label>
    </div>
  </div>
</form>