<form role="form" data-id="action">
	<div class="form-row">
		<div class="form-group col-md-12">
			<label class="control-label"
				for="enabledAction" data-i18n="ai:lbl_enabled"></label>
			<div class="col-md-12">
				<label> 
					<input type="checkbox" name="enabled" data-id="enabledAction" data-name="enabled" id="enabledAction" class="ace ace-switch ace-switch-4 btn-rotate" checked/> 
					<span class="lbl" data-lbl=""></span>
				</label>
			</div>
		</div>
		<div class="form-group col-md-12">
		    <label for="nameAction" data-i18n="ai:lbl_action_name"></label>
		    <input type="text" name="actionName" class="form-control" id="actionName" data-id="actionName" placeholder="Action name" required>
    	</div>
    	<div class="form-group col-md-4" id="lblTypeAction">
			<label data-i18n="ai:lbl_action_type"></label>
		</div>
		<div class="form-group col-md-8" id="divTypeAction">
			<select data-id="typeAction" id="typeAction" class="form-control">
				<option value="accept">Accept</option>
				<option value="create">Create</option>
				<option value="confirmEmail">Confirm Emanil</option>
				<option value="sendMail">send email</option>
			</select>
		</div>
  	</div>
	<div class="form-row">
	 	<div class="col-md-12">
	 		<h4 ><b data-i18n="ai:lbl_additional_properties"></b></h4>
	 	</div>
	</div>
	<div id="action-content" data-id="action-content">
		
	</div>
	<div class="form-group" style="padding-left: 15px">
		<label class="block">
			<input data-id="onfallback" type="checkbox" id="onfallback" class="ace">
			<span class="lbl" data-i18n="ai:lbl_onfallback"> </span>
		</label>
    <!-- <div class="form-check"> -->
<!--       	<input class="form-check-input" data-id="onfallback" type="checkbox" id="onfallback"/>
      	<label class="form-check-label" for="onfallback" data-i18n="ai:lbl_onfallback"></label> -->
    <!-- </div> -->
  	</div>
</form>