<div class="form-row">
    <div class="form-group col-md-12">
        <label for="contentEmail" data-i18n="ai:lbl_content_email"></label>
        <div data-name="contentEmail" data-id="contentEmail" id="contentEmail" class="wysiwyg-editor"></div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <label for="actionName" data-i18n="ai:lbl_subject"></label>
        <input type="text" name="subjectEmail" class="form-control" id="subjectEmail" required="true">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <label for="actionName" data-i18n="ai:lbl_send_to"></label>
        <input type="text" name="senders" class="form-control" id="senders" required="true">
    </div>
</div>
<div class="form-group" style="padding-left: 15px	">
    <label class="block">
        <input type="checkbox" id="taskInformation" id="taskInformation" class="ace">
        <span class="lbl" data-i18n="ai:lbl_add_basic_information"></span>
    </label>
    <!-- <div class="form-check">
      <input class="form-check-input" type="checkbox" id="taskInformation"/>
      <label class="form-check-label" for="taskInformation" data-i18n="ai:lbl_add_basic_information"></label>
    </div> -->
</div>
<div class="form-group" style="padding-left: 15px	">
    <label class="block">
        <input type="checkbox" id="attachment" class="ace">
        <span class="lbl" data-i18n="ai:lbl_add_source_file"></span>
    </label>
    <!-- <div class="form-check">
      <input class="form-check-input" type="checkbox" id="attachment"/>
      <label class="form-check-label" for="attachment" data-i18n="ai:lbl_add_source_file"></label>
    </div> -->
</div>