
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="mails" data-i18n="ai:lbl_confirmation_email"></label>
      <input type="email" name="mails" class="form-control" id="mails" data-id="mails" placeholder="example@gmail.com,othermail@gmail.com">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="title" data-i18n="ai:lbl_subject"></label>
      <input type="text" name="title" class="form-control" id="title" data-id="title" required placeholder="%TASKID%%TITLE%%LANG% - Confirmation required">
    </div>
  </div>
  <div class="form-group" style="padding-left: 15px	">
    <label class="block">
      <input type="checkbox" data-id="taskInformation" id="taskInformation" class="ace">
      <span class="lbl" data-i18n="ai:lbl_add_basic_information"></span>
    </label>
    <!-- <div class="form-check">
      <input class="form-check-input" type="checkbox" data-id="taskInformation" id="taskInformation"/>
      <label class="form-check-label" for="taskInformation" data-i18n="ai:lbl_add_basic_information">
      </label>
    </div> -->
  </div>
  <div class="form-group" style="padding-left: 15px	">
    <label class="block">
        <input type="checkbox" id="attachment" data-id="attachment" class="ace">
        <span class="lbl" data-i18n="ai:lbl_add_source_file"></span>
    </label>
    <!-- <div class="form-check"> -->
      
      <!-- <input class="form-check-input" type="checkbox" id="attachment" data-id="attachment"/>
      <label class="form-check-label" for="attachment" data-i18n="ai:lbl_add_source_file"></label> -->
    <!-- </div> -->
  </div>