<div>
	<div class="row">
		<div class="col-sm-2">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="lighter">
						<i class="fa fa-star orange"></i> <span
							data-i18n="management:memLoadGraphTitle"></span>
					</h4>
					<div class="widget-toolbar">
						<a href="#" data-action="collapse"> <i
							class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main no-padding">
						<div id="svr-memory-load"
							style="width: 100%; height: 220px; padding: 0px; position: relative;"></div>
					</div>
					<!-- /widget-main -->
				</div>
				<!-- /widget-body -->
			</div>
			<!-- /widget-box -->
		</div>

		<div class="col-sm-2">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="lighter">
						<i class="fa fa-signal"></i> <span
							data-i18n="management:cpuLoadGraphTitle"></span>
					</h4>

					<div class="widget-toolbar">
						<a href="#" data-action="collapse"> <i
							class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main padding-4">
						<div id="svr-cpu-load"
							style="width: 100%; height: 220px; padding: 0px; position: relative;"></div>
					</div>
					<!-- /widget-main -->
				</div>
				<!-- /widget-body -->
			</div>
			<!-- /widget-box -->
		</div>
		<div class="col-sm-2">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="lighter">
						<i class="fa fa-signal"></i> <span
							data-i18n="management:avgrestimeGraphTitle"></span>
					</h4>

					<div class="widget-toolbar">
						<a href="#" data-action="collapse"> <i
							class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main padding-4">
						<div id="svr-avg-response-time"
							style="width: 100%; height: 220px; padding: 0px; position: relative;"></div>
					</div>
					<!-- /widget-main -->
				</div>
				<!-- /widget-body -->
			</div>
			<!-- /widget-box -->
		</div>
		<div class="col-sm-2">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="lighter">
						<i class="fa fa-filter orange"></i> <span
							data-i18n="management:apreqpersecGraphTitle"></span>
					</h4>
					<div class="widget-toolbar">
						<a href="#" data-action="collapse"> <i
							class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main no-padding">
						<div id="apache-req-per-sec"
							style="width: 100%; height: 220px; padding: 0px; position: relative;"></div>
					</div>
					<!-- /widget-main -->
				</div>
				<!-- /widget-body -->
			</div>
			<!-- /widget-box -->
		</div>
		<div class="col-sm-2">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="lighter">
						<i class="fa fa-dashboard orange"></i> <span
							data-i18n="management:apkbitsecGraphTitle"></span>
					</h4>
					<div class="widget-toolbar">
						<a href="#" data-action="collapse"> <i
							class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main no-padding">
						<div id="apache-kbits-sec"
							style="width: 100%; height: 220px; padding: 0px; position: relative;"></div>
					</div>
					<!-- /widget-main -->
				</div>
				<!-- /widget-body -->
			</div>
			<!-- /widget-box -->
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-small">
					<h4 class="blue smaller">
						<i class="fa fa-rss orange"></i> Recent Activities
					</h4>
					<div class="widget-toolbar action-buttons">
						<a href="#" data-action="reload"> <i
							class="fa fa-refresh fa-spin blue"></i>
						</a>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-main padding-8">
						<div class="profile-feed">
							<table data-id="recent_api_activities"
								class="table table-striped table-hover dataTable">
								<thead>
									<tr>
										<th>API v</th>
										<th>User</th>
										<th>Module</th>
										<th>Detail</th>
										<th>Times</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody data-id="api-rest-urls-show">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>