@CHARSET "UTF-8";

#login-response-msg i {
	margin-right: 1em;
}

.breadcrumb .home-icon {
	margin-right: 6px !important;
}

.breadcrumb > li > a{
	color : white!important;
}

.breadcrumb > li, .breadcrumb > li.active{
	color : white!important;
}
.ariadna-bar{
	position: relative;
	z-index: auto;
	float:left;
  	min-height: 41px;
  	padding: 0 12px 0 0;
}

.hidden {
	display: none;
}

.idcp-loading {
	vertical-align: middle;
	text-align: center;
  	z-index: 1004;
  	top: 0;
  	bottom: 0;
  	right: 0;
  	left: 0;
  	/*background-color: rgba(210, 226, 235, 0.35);*/
  	background-color : '#000000';
  	height: 100%;
}
.idcp-loading-fullpage {
	position: fixed;
}
.idcp-loading > .loading-content { 
	position: absolute;
	top: 38%;
	left: 0;
	right: 0;
	text-align: center;
}

.idcp-loading > .loading-content > h2 {
	text-align: center;
	color: white;
	font-size: 1em;
}

.idcp-loading-fullpage > .loading-content > h2 {
	font-size: 1.4em;	
}

.gritter-error-msg {
	position: absolute;
	bottom: 0;
	right: 5%;
	max-width: 90%;
}

.breadcrumb>li a.active {
	color: #555 !important;
}

.idcp-animated-logo{
	width:200px;
	height:70px;
	background-repeat:no-repeat;
	background-image:url("/img/idcp-w200.gif");
	
}

.ajax-animated-loading{
	width:60px;
	height:83px;
	background-repeat:no-repeat;
	background-image:url("/img/ajax-load.gif");
}

.ui-selected{
	background-color:#e4e6e9;
}

.ui-selectee{
	cursor:pointer;
	/*border:1px solid #ccc;
	background-color: #62a8d1;
	margin-left:20%;
	width: 60%;
	height:40px;
	margin-bottom:2px;*/
}

.no-visible{
	display:none!important;
}

.visible{
	display:block;
}

.loading_stuff{
	display:block;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-color : '#000000';
	z-index: 9999;
	opacity: 1;
}

.icon-pulse {
  display: inline-block;
  -moz-animation: pulse 1s infinite linear;
  -o-animation: pulse 1s infinite linear;
  -webkit-animation: pulse 1s infinite linear;
  animation: pulse 1s infinite linear;
}

.dataTables_wrapper_custom>div.dataTable_wrapper>div.row {
	padding: 10px 12px 6px 12px;
	background-color: #EFF3F8;
	margin: 0;
	vertical-align: bottom;
}
.dataTables_wrapper_custom>div.dataTable_wrapper>div.row>div.row {
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 8px;
}
.dataTables_wrapper_custom .filter-search {
	min-width: 70%;
}
.dataTables_wrapper_custom  .list-filter {
	padding: 0 12px 0 12px;
}

.dataTables_wrapper_custom .form-group {
	float: left;
	margin-right: 12px;
}

.button-group {
	padding-top: 1.6em;
	vertical-align: bottom;
}
.list-filter {
	overflow: hidden;
}

.initial_load{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	opacity:1;
	/*background-color: rgba(210, 226, 235, 1);*/
	background-color : #737277;
	z-index:90000;
	visibility:hidden;
}

.list_par{
	background-color: #f9f9f9;
}

.list_unpar{
	background-color: #00000;
}

.list_element{
	border-bottom: 1px solid #ddd;
	cursor:pointer;
}

.list_element .value-container{
	color: #609FC4;
	font-weight:bold;
}

.list_hidden_container{
	display: none;
    padding : 5px;
    cursor:default;
}

.list_header{
	background-color: #f9f9f9;
}

.navbar{
	background: #51a6e4 !important;
	max-height: 30px !important;
}

.table > thead > tr > th {
  padding: 5px !important;
}

@-webkit-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.fa-spin-2x {
	-webkit-animation: fa-spin 1s infinite linear;
	animation: fa-spin 1s infinite linear;
}

.icard{
	min-height:190px;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	color: #989898;
	width:270px;
	float: left;
	background-color : #F5F5F5;
	border: 2px solid #989898;
	/*border: 2px solid hsla(0, 0%, 0%, 0.5);*/
}

.icard-size-2 {
	min-height: 390px !important;
}

.icard p {
	font-weight:bold;
}

.icard-no-results{
	min-height:50px!important;
	width:'100%!important';
}

body.login-layout{
	background-color : #F5F1DE;
	background-size : cover;
	background-image : url(../img/bluetheme-background.png);
	/*background-image : url(../img/login-wallpaper.jpg);*/
	 /*background-image : url(../img/cover.png);*/
	 background-repeat: no-repeat;
	 background-position : center;
	/* background-size: cover;*/
}

.load-in-content{
	position: absolute;
	top: 0px;
	left: 0px;
	right : 0px;
	bottom: 0px;
	background-color: white;
	color : #bb0b24;
	z-index:90000;
	padding-top: 10%;
	padding-left: 45%;
}

div.select2{
    padding-left: 0px;
    padding-right: 0px;
}

.select2-container .select2-choice > .select2-chosen{
	text-align: left!important;
}

/**
* CIRCLES THIRDPARTY
**/

.circle-container{
	position:absolute;
	top:5px;
	right:5px;
}

.circle {
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    margin-left: 5px;
}

.circle-rc{
	background-color : blue;
}

.circle-pc{
	border: 2px solid blue;
}

.circle-rp{
	background-color : purple;
}

.circle-pp{
	border: 2px solid purple;
}

.circle-ag{
	background-color : orange;
}
ul.ui-autocomplete.ui-menu {
  z-index: 10000;
}

/**
 	Login modal
 */
 
 .modal-dialog{
 	z-index: 4000!important;
 }
 
 .signin-card {
	width: 274px;
	padding: 40px 40px;
}

.card {
	background-color: #f7f7f7;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	width: 304px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.signin-card .profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
	
.signin-card .profile-name {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}
	
.signin-card input[type=email], .signin-card input[type=password], .signin-card input[type=text], .signin-card input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/**
	Nav Bar  responsive
*/
.no-skin .navbar .navbar-toggle{
	background-color : #bb0b24 !important;
}

.no-skin .navbar .navbar-toggle.display, .no-skin .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed){
	background-color : #bb0b24 !important;
}

.tabbable > .nav > li.disabled{
	opacity : 0.5;
}

/**
	Progress bar fupload.js
*/

.pbar-percent{
	text-align: right;
	font-weight:bold;
	color : #bb0b24;
}

.dropzone.dz-clickable * {
  cursor: default;
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  background: rgba(255,255,255,0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
}
.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}
.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px;
  cursor: pointer !important;
}
.dropzone .dz-preview .dz-details * {
	cursor: pointer !important;
}
.dropzone .dz-preview .dz-details a,
.dropzone-previews .dz-preview .dz-details a {
	z-index: 2;
	position:absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	vertical-align: middle;
	bottom: 0;
	overflow: hidden;
	display: block;
	cursor: pointer;
	color: #121212;
	text-decoration: none;
	padding: 20px 5px 0 5px;
}
.dropzone .dz-preview .dz-details a:hover,
.dropzone-previews .dz-preview .dz-details a:hover {
	color: #337ab7;
}
.dropzone .dz-preview .dz-details .dz-file-mark {
	z-index: 1;
	opacity: 0.5;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	margin-top: 40%;
}
.dropzone .dz-preview .dz-details .dz-file-mark i {
	color: #337ab7;
}
.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%;
}
.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px;
}
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}
.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d;
}
.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657;
}
.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245,245,245,0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}
.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block;
}

.dz-upload-mark, .dz-icon-mark{
	background-image: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    text-align: center;
    line-height: 35px;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    right: -10px;
    top: -10px;
}


.processing_queue {
	background-color: rgba(100, 100, 100, 0.3);
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.flip {
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.unflip {
	-moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.canrotate{
	-moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

/*
	Per al botó accions.
*/
.table-responsive{
	overflow:visible;
}

.w300px{
	width: 300px!important;
}

.readOnly_span{
	display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 15px;
    font-size : 14px;
    font-style: italic;
}

.relation_span_view{
	display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 15px;
    font-size : 14px;
}

.readOnly_span_icon{
	display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 25px;
    font-size : 14px;
}

.select2-result-repository {
    padding-top: 4px;
    padding-bottom: 3px;
}

.select2-result-repository__avatar {
    float: left;
    width: 60px;
    margin-right: 10px;
}

.select2-result-repository__meta {
    margin-left: 70px;
}

.select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

/**
* Blinking (flashing).
*/
@-webkit-keyframes invalid {
  from { background-color: #bb0b24; }
  to { background-color: inherit; }
}
@-moz-keyframes invalid {
  from { background-color: #bb0b24; }
  to { background-color: inherit; }
}
@-o-keyframes invalid {
  from { background-color: #bb0b24; }
  to { background-color: inherit; }
}
@keyframes invalid {
  from { background-color: #bb0b24; }
  to { background-color: inherit; }
}
.blinking {
  -webkit-animation: invalid 0.50s 1; /* Safari 4+ */
  -moz-animation:    invalid 0.50s 1; /* Fx 5+ */
  -o-animation:      invalid 0.50s 1; /* Opera 12+ */
  animation:         invalid 0.50s 1; /* IE 10+ */
}

/**
* Select2 correction.
*/

.select2-search:after {
	content: "";
}

.press {
	cursor:pointer;
}

.press:hover{
	opacity:0.9;
}

.translatable_title{
	background-color :#bb0b24 !important;
	height:30px;
	width:100%;
	color : white!important;
	padding-left:5px;
	padding-top: 5px;
}
.translatable_content{
	padding-top:10px;
}

.translatable_div{
	display:none;
	position:absolute;
	top:40px;
	left:30px;
	min-width:450px;
	z-index:300;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	
}

.list-sort-desc:hover{
	color :#bb0b24 !important;
	font-size: 25px;
}

.list-sort-asc:hover{
	color :#bb0b24 !important;
	font-size: 25px;
}

.modal_event_col {
	/*padding-left:0px!important;*/
	min-height:250px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 10px rgba(68,68,68,0.2);
    -webkit-box-shadow: 0 0 10px rgba(68,68,68,0.2);
    box-shadow: 0 0 10px rgba(68,68,68,0.2);
    border: 1px solid #cccccc;
}

.modal_event_col > .addZone {
	margin-left:-15px!important;
	position:absolute;
	bottom:0px;
	height:50px;
	background-color:#EDF3F4;
	width:100%;
    border-radius: 8px;
    -moz-box-shadow: 0 0 10px rgba(68,68,68,0.2);
    -webkit-box-shadow: 0 0 10px rgba(68,68,68,0.2);
    box-shadow: 0 0 10px rgba(68,68,68,0.2);
    color : white;
    text-align : center;
    cursor:pointer;
}

.modal_event_col > .addZone:hover {
	color: #1b6aaa;
}

.modal_event_content{
	padding-bottom:50px;
}


.padding-left {
	left: 5px;
	text-align: left!important;
}

.deleteField{
	cursor:pointer;
	padding-top:10px;	
}

.deleteField:hover{
	color:#bb0b24;
}



.wordcount-table tr > td:first-child{
	text-align : right;
	padding-right : 15px;
	min-width: 120px;
	font-weight : bold;
}


.wordcount-table tr > td >input[type="text"]{
	font-style : italic;
	color : #bb0b24 !important;
	font-size : 18px;
	width : 100%;
	border : none;
}

.wordcount-table tr > td >input[type="text"]:disabled {
    background-color: inherit !important;
}


.idisc_font_color {
	color : #bb0b24 !important;
}

.idisc_background_color{
	background-color : #bb0b24 !important;
}

.align_left{
	text-align: left !important;
}


/**
*/
.tooltip-icon {
    /*font-size: 0.8em;
    padding-left: 0.7em;*/
    vertical-align: top;
    display: inline;
    color: #0078c9;
}

.price-zone span{
	font-size : 14px;
	font-weigth : bold;
}

.price-zone span.price{
	font-size 	: 18px;
	color 		:#bb0b24;
}

/**
* Notifications.
*/

li div.notification-message{
	font-size: 12px;
    line-height: 16px;
    color: #555 !important;
}

div.tab-content > div.tab-pane{
	min-height : 250px;
}

.ace-nav > li > a {
	background-color : #51a6e4;
}

.ace-nav > li > a:hover {
	background-color : #ADD8E6;
}


/*EJEMPLO TEST ACCORDEON*/
div.container-test{
	height : 0px;
	width : 100%;
	overflow : hidden;
	transition : height 0.5s ease-out;
}
div.container-test.accordion-open{
	height : 300px;
}

div.container-test.accordion-fuzzy-open{
	height : 550px;
}

div.container-test.accordion-file-relation-open{
	height : 180px;
}
.select-fuzzy{
	width: 100%;
}

.table-overwrite{
	margin: auto;
    width: 60% !important
}

