<div data-nocache>
	<form data-id="form-mant_table" class="form-horizontal" role="form">
		<div class="row">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li data-tab="common" class="active">
						<a data-toggle="tab" href="#table-common">
							<i class="red ace-icon fa fa-sliders bigger-120"></i><span data-i18n="mant:tab_general"></span>
						</a>
					</li>
					<li data-tab="table-dynattr">
						<a data-toggle="tab" href="#table-dynattr">
							<span data-i18n="mant:tab_dynAttr"></span>
						</a>
					</li>
					<li data-tab="series">
						<a data-toggle="tab" href="#table-series">
							<span data-i18n="mant:tab_series"></span>
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="table-common" class="tab-pane fade in active"></div>
					<div id="table-dynattr" class="tab-pane fade">
						<div data-id="dyn-attr-inputs"></div>
					</div>
					<div id="table-series" class="tab-pane fade">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="form-group">
									<label class="control-label col-xs-12 col-sm-4 no-padding-right" for="name" data-i18n="mant:lbl_enableSeries"></label>
									<div class="col-xs-9 col-sm-8">
										<div class="checkbox">
											<label>
												<input data-group="1" name="enable_series" type="checkbox" class="ace" data-id="enable_series">
												<span class="lbl" data-i18n="crm:lbl_real_client"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-4" data-id="list-series"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>