<div data-nocache>
	<div class="row">
		<form name="main" class="form-horizontal" role="form">
			<!-- PAGE CONTENT BEGINS -->
			<div class="col-xs-12">
				<!-- B:lblcountry -->
				<div class="form-group">
					<div class="col-xs-12 col-sm-12 page-header">
						<h1 data-id="lblcountry">&nbsp;</h1>
					</div>
				</div>
				<!-- E:lblcountry -->
				<!-- B:ID -->
				<div class="form-group hidden" data-id="pkgrup">
					<label class="control-label col-xs-12 col-sm-2 no-padding-right"
						for="id" data-i18n="mant:col_id"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="text" name="id" data-id="id"
							class="col-xs-12 col-sm-1" required maxlength="2"
							autocomplete="off">
					</div>
				</div>
				<!-- E:ID -->
				<!-- B:Country Name -->
				<div class="form-group">
					<label class="control-label col-xs-2 col-sm-2 no-padding-right"
						for="name" data-i18n="mant:col_name"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="text" name="name" data-id="name"
							class="col-xs-12 col-sm-12" required maxlength="50"
							autocomplete="off">
					</div>
				</div>
				<!-- E:Country Name -->
			</div>
		</form>
	</div>
</div>
