<div data-nocache>
	<div class="row">
		<form name="main" class="form-horizontal" role="form">
			<!-- PAGE CONTENT BEGINS -->
			<div class="col-xs-12">
				<!-- B:ID -->
				<div class="form-group">
					<div class="col-xs-12 col-sm-12 page-header">
						<h1 data-id="id">&nbsp;</h1>
					</div>
				</div>
				<!-- E:ID -->
				<!-- B:Description -->
				<div class="form-group">
					<label class="control-label col-xs-2 col-sm-2 no-padding-right"
						for="name" data-i18n="mant:lbl_description"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="text" name="description" data-id="description"
							class="col-xs-12 col-sm-12" required maxlength="400"
							autocomplete="off">
					</div>
				</div>
				<!-- E:Description -->
				<!-- B:DEPARTAMENT -->
				<div class="form-group" data-id="department_zone">
					<label class="control-label col-xs-2 col-sm-2  no-padding-right" for="name" data-i18n="lbl_visibility"></label>
					<div class="col-xs-12 col-sm-7">
						<select class="col-xs-12 col-sm-12 select2" name="department_id" data-id="department_id" required></select>
					</div>
				</div>
				<!-- E:DEPARTAMENT -->
			</div>
		</form>
	</div>
</div>
