<div data-nocache>
	<div class="row">
		<form name="main" class="form-horizontal" role="form">
			<!-- PAGE CONTENT BEGINS -->
			<div class="col-xs-12">
				<!-- B:Chapter_id -->
				<div class="form-group">
					<div class="col-xs-12 col-sm-12 page-header">
						<h1 data-id="stid">&nbsp;</h1>
					</div>
				</div>
				<!-- E:Chapter_id -->
				<!-- B:Chapter_NAME -->
				<div class="form-group">
					<label class="control-label col-xs-2 col-sm-2 no-padding-right" for="name" data-i18n="mant:col_name"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="hidden" name="id" data-id="id"> 
						<input type="text" name="name" data-id="name" class="col-xs-12 col-sm-12" required maxlength="100" autocomplete="off">
					</div>
				</div>
				<!-- E:Chapter_NAME -->
				<!-- B:DEPARTAMENT -->
				<div class="form-group" data-id="department_zone">
					<label class="control-label col-xs-2 col-sm-2  no-padding-right" for="name" data-i18n="lbl_visibility"></label>
					<div class="col-xs-12 col-sm-7">
						<select class="col-xs-12 col-sm-12 select2-no-search" name="department_id" data-id="department_id" required></select>
					</div>
				</div>
				<!-- E:DEPARTAMENT -->
				<!-- B:ELEMENT_VIEW -->
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="form-field-1" data-i18n=""></label>
					<div class="col-xs-12 col-sm-7" data-id="chapter-content"></div>
				</div>
				<!-- E:ELEMENT_VIEW -->
			</div>
		</form>
	</div>
</div>
