<div data-nocache>
	<div class="row">
		<form class="form-horizontal" role="form" name="attribute-form">
			<div class="col-xs-12">
				<!-- B:ANAME -->
				<div class="form-group">
					<label class="control-label col-xs-2 col-sm-2 no-padding-right" for="name" data-i18n="mant:col_name"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="text" name="name" data-id="name" class="col-xs-12 col-sm-12" required maxlength="100" autocomplete="off">
					</div>
				</div>
				<!-- E:ANAME -->
				<!-- B:TYPE -->
				<div class="form-group">
					<label class="control-label col-xs-2 col-sm-2  no-padding-right" for="name" data-i18n="mant:col_type"></label>
					<div class="col-xs-12 col-sm-7">
						<select class="col-xs-12 col-sm-12 select2" name="type" data-id="type" required>
							<option value="U" data-i18n="mant:type_url"></option>
							<option value="T" data-i18n="mant:type_text"></option>
						</select>
					</div>
				</div>
				<!-- E:TYPE -->	
				<!-- B:LANGS -->
				<h3 class="header smaller lighter blue open" data-i18n="translation"></h3>
				<div data-id="language_zone"></div>
				<h3 class="header smaller lighter blue open" data-i18n="mant:assign_to"></h3>
				<div data-id="table_zone"></div>
			</div>
		</form>
	</div>
</div>