<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

	<div class="navbar-container" id="navbar-container">
				<!-- #section:basics/sidebar.mobile.toggle -->
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
			<span class="sr-only">Toggle sidebar</span>

			<span class="icon-bar"></span>

			<span class="icon-bar"></span>

			<span class="icon-bar"></span>
		</button>
		
		<!-- /section:basics/sidebar.mobile.toggle -->
				<div class="navbar-header pull-left">
			<!-- #section:basics/navbar.layout.brand -->
			<a href="#" class="navbar-brand">
				<small>
					<span class="white">ATMS</span>
				</small>
			</a>

			<!-- /section:basics/navbar.layout.brand -->

			<!-- #section:basics/navbar.toggle -->

			<!-- /section:basics/navbar.toggle -->
		</div>
		<!-- /.navbar-header -->
		
		<div id="breadcrumbs" class="ariadna-bar">
			<ul id="breadcrumb" class="breadcrumb">
			</ul><!-- .breadcrumb -->
		</div>

		
		<!-- #section:basics/navbar.dropdown -->
		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			<ul id="menu-config" class="nav ace-nav">
				<!-- #section:basics/navbar.user_menu -->
				<!-- <li class="light-red">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle">
						<span class="ace-icon fa fa-clock-o fa-2x"></span>
					</a>

					<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close w300px">
						<li id="server_time_li">
							<span><b>Server: </b></span>						
							<span id="server_time" class="pull-right"></span>
						</li>
						<li class="divider"></li>
						<li>
							<span><b>iDISC: </b></span>
							<span id="hq_time" class="pull-right"></span>
						</li>
						<li class="divider"></li>
						<li>
							<span><b>Local: </b></span>						
							<span id="local_time" class="pull-right"></span>
						</li>
						<li class="divider"></li>
						<li id="os_time_li">
							<span><b>OS: </b></span>						
							<span id="local_time_os" class="pull-right"></span>
						</li>
					</ul>
				</li> -->
				<li class="light-red">
					<a id="notifications-badge" data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="badge badge-important"></span>
					</a>
	
					<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
						<li class="dropdown-header">
							<i id="notifications-title" class="ace-icon fa fa-exclamation-triangle"></i>
							 <span data-i18n="lbl_notifications"></span>
						</li>
	
						<li class="dropdown-content ace-scroll" style="position: relative;"><div class="scroll-track" style="display: none;"><div class="scroll-bar"></div></div><div class="scroll-content" style="max-height: 200px;">
							<ul id="notifications-list" class="dropdown-menu dropdown-navbar navbar-pink">
							</ul>
						</div></li>
						<li class="dropdown-footer">
							<a href="/#notifications">
								<span data-i18n="see_all_notifications"></span>
								<i class="ace-icon fa fa-arrow-right"></i>
							</a>
						</li>
					</ul>
				</li>
				<li class="light-red">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle">
						<img id="menu-userPhoto" class="nav-user-photo" src="assets/avatars/idisc.jpg" alt="Idisc Information Technologies" />
						<span class="user-info">
							<small data-i18n="layout:userMenuWellcome"></small>
							<span id="menu-username"></span>
						</span>

						<i class="ace-icon fa fa-caret-down icon-on-right"></i>
					</a>

					<ul class="ser-menu dropdown-menu dropdown-menu-right dropdown-yellow dropdown-caret dropdown-close">
						<li  id="li-user-settings">
							<a href="#settings">
								<i class="ace-icon fa fa-cog"></i>
								<span data-i18n="layout:userSettings"></span>
							</a>
						</li>

						<li id="li-user-profile">
							<a href="#profile">
								<i class="ace-icon fa fa-user"></i>
								<span data-i18n="layout:userProfile"></span>
							</a>
						</li>

						<li class="divider"></li>

						<li data-id="logout" data-action=":LOGOUT">
							<a href="#">
								<i class="ace-icon fa fa-power-off"></i>
								<span data-i18n="layout:userLogout"></span>
							</a>
						</li>
					</ul>
				</li>
			<!-- /section:basics/navbar.user_menu -->
			</ul>
		</div>

		<!-- /section:basics/navbar.dropdown -->
	</div><!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

	<!-- #section:basics/sidebar -->
	<div id="sidebar" class="sidebar responsive">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>

		<div class="sidebar-shortcuts" id="sidebar-shortcuts">
			 <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			    <button class="btn btn-success"><i class="ace-icon fa fa-signal"></i></button>
			    <button class="btn btn-info"><i class="ace-icon fa fa-pencil"></i></button>
			    <button class="btn btn-warning"><i class="ace-icon fa fa-users"></i></button>
			    <button class="btn btn-danger"><i class="ace-icon fa fa-cogs"></i></button>
			  </div>
		</div>
		<!-- Menu nav-list -->
		<ul id="nav-list" class="nav nav-list">		
		
		</ul><!-- /.nav-list -->

		<!-- #section:basics/sidebar.layout.minimize -->
		<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
			<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
		</div>

		<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
	</div>
	
	<!-- /section:basics/sidebar -->
	<div class="main-content">
		<div class="main-content-inner">
		<!-- #section:basics/content.breadcrumbs -->
		<div class="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>
			<div class="pull-right">
				<ul style="list-style:none;">
					<li id="loading-icon-nav-var" style="float:left;width:20px;">
						<i class="fa fa-circle-o-notch fa-spin-2x red" style="margin-top:0px!important;"></i>
					</li>
					<li id="api-send-data" style="float:left;width:10px;">	
						<i class="fa fa-long-arrow-up red"></i>
					</li>
					<li id="api-receive-data" style="float:left;width:10px;">
						<i class="fa fa-long-arrow-down red"></i>
					</li>
				</ul>
			</div>
			<!-- Start specific page buttons goes here -->
			<div id="page-specific-buttons" class="pull-left"> </div>
			<!-- End specific page buttons-->
		</div>

		<!-- /section:basics/content.breadcrumbs -->
		<div class="page-content">
			<!-- Header -->
			<!-- <div class="page-header" style="overflow: hidden;">
				<div class="row">
					<div class="col-sm-4">
						<h1 id="page-title"></h1>
					</div>
					<div class="col-sm-4 pull-right">
						
					</div>
				</div>
			</div>
			 -->
				
			<!-- /section:settings.box -->
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div id="content"></div>
					<!-- PAGE CONTENT ENDS -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
				</div>
	</div><!-- /.main-content -->
			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						<span class="bigger-120">
							<span><span style="color:#bb0b24 !important">i</span>DISC Information Technologies </span>
							&copy; 2014-2016
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>
						</span>
						&nbsp; &nbsp;
						<span id="application-services-info"></span>
					</div>
					<!-- /section:basics/footer -->
				</div>
			</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div><!-- /.main-container -->

		<!-- basic scripts -->
		
