<div class="main-container" id="main-container">
	<!-- /section:basics/sidebar -->
	<div class="main-content">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="login-container">
					<div class="center">
						<h1>
							<!-- <i class="icon-leaf green"></i>  -->
							<span class="red">AI</span><span class="black">ATMS</span>
						</h1>
						<h4 class="black">Automatic Task Manager System by <span class="red">i</span><span class="black">DISC</span></h4>
					</div>
					<div class="space-6"></div>
					<div class="position-relative">
						<div id="login-box" class="login-box visible widget-box no-border">
							<div class="widget-body">
								<div class="widget-main">
									<h4 id="userlogin" class="header blue lighter bigger" data-i18n="login:userlogin" data-i18n-target="span">
										<i class="fa fa-sign-in green"></i>
										<span></span>
									</h4>
									<div class="space-6"></div>
									<form id="loginform">
										<fieldset>
											<label class="block clearfix">
												<span class="block input-icon input-icon-right">
													<input type="text" name="user" class="form-control" data-i18n="[placeholder]login:username;" />
													<i class="ace-icon fa fa-user"></i>
												</span>
											</label>
											<label class="block clearfix">
												<span class="block input-icon input-icon-right">
													<input type="password" name="password" class="form-control" data-i18n="[placeholder]login:password;" />
													<i class="ace-icon fa fa-lock"></i>
												</span>
											</label>
											<div class="space"></div>
											<div class="clearfix">
												<button id="login" type="submit" class="width-35 pull-right btn btn-sm btn-primary" data-i18n="login:login" data-i18n-target="span">
													<i class="ace-icon fa fa-key"></i>
													<span></span>
												</button>
											</div>
											<div class="space-4"></div>
										</fieldset>
									</form>
									<div id="login-response-msg" class="alert alert-info hidden">
									</div>
								</div><!-- /widget-main -->
							</div><!-- /widget-body -->
						</div><!-- /login-box -->
						<div class="center">
							<h4 class="dark">&copy; iDisc Informaton technologies, S.L.</h4>
						</div>
					</div><!-- /position-relative -->
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div>
</div><!-- /.main-container -->