<div id="modal-login" class="modal" tabindex="-1" aria-hidden="true" style="display: none;" role="dialog">
	<style>
		.signin-card {
			width: 274px;
			padding: 40px 40px;
		}
		
		.card {
			background-color: #f7f7f7;
			padding: 20px 25px 30px;
			margin: 0 auto 25px;
			width: 304px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		}
		
		.signin-card .profile-img {
			width: 96px;
			height: 96px;
			margin: 0 auto 10px;
			display: block;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			}
			
		.signin-card .profile-name {
			font-size: 16px;
			font-weight: bold;
			text-align: center;
			margin: 10px 0 0;
			min-height: 1em;
		}
			
		.signin-card input[type=email], .signin-card input[type=password], .signin-card input[type=text], .signin-card input[type=submit] {
			width: 100%;
			display: block;
			margin-bottom: 10px;
			z-index: 1;
			position: relative;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
	</style>
	<div class="modal-dialog">
			<div id="rsi-card" class="card signin-card">
			<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="blue bigger" id="modaltitle" data-i18n="login:session_expired"> </h4>
		<img id="profile-img" class="profile-img" src="assets/avatars/idisc.jpg" alt="">
		<p class="profile-name" data-id="profile-name"></p>
		<form id="modal-login-form">
			<span data-id="username-title" class="reauth-email"></span>
			<input data-id="username" type="hidden" name="user" class="form-control" />
			<input type="password" name="password" class="form-control"  data-i18n="[placeholder]login:password;">
			<input id="signIn" name="signIn" class="btn btn-info" type="submit" data-i18n="[value]login:login">
		</form>
		<a id="link-forgot-passwd" href="#" data-i18n="login:need_help"></a>
	  	<div id="login-response-msg" class="alert alert-info hidden"></div>
	</div>
		</div>
</div>

