<div id="modal-login" data-id="modal-login" class="modal" tabindex="-1" aria-hidden="true" style="display: none;" role="dialog">
	<div class="modal-dialog">
			<div id="rsi-card" class="card signin-card">
			<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="blue bigger" data-id="modaltitle" data-i18n="login:about_to_expire"></h4>
		<img data-id="profile-img" class="profile-img" src="assets/avatars/idisc.jpg" alt="">
		<p class="profile-name" data-id="profile-name"></p>
		<form id="modal-login-form">
			<input data-id="username" type="hidden" name="user" class="form-control" />
			<input type="password" name="password" class="form-control hidden"  data-i18n="[placeholder]login:password;">
			<input data-id="signIn" name="signIn" class="btn btn-info" type="submit" data-i18n="[value]login:i_am_here">
		</form>
		<a id="link-forgot-passwd" href="#" data-i18n="login:need_help"></a>
	  	<div data-id="countdownContainer"><span data-i18n="login:closing"></span><h3 data-id="countdown" class="text-center"></h3></div>
	  	<div id="login-response-msg" class="alert alert-info hidden"></div>
	</div>
		</div>
</div>

