<div>
	<div class="alert alert-block alert-success">
		<button type="button" class="close" data-dismiss="alert">
			<i class="ace-icon fa fa-times"></i>
		</button>

		<i class="ace-icon fa fa-check green"></i> Welcome to <strong
			class="green"> IDCP <small data-id="front-end-version"></small>
		</strong>
	</div>
	<div class="alert alert-block alert-danger" data-id="warn-development"
		style="display: none;">
		<button type="button" class="close" data-dismiss="alert">
			<i class="ace-icon fa fa-times"></i>
		</button>
		<i class="ace-icon fa fa-check green"></i> IDCP WebService is working
		in <strong>development</strong> mode.
	</div>

</div>