<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i._GET</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Like $_GET php function.<br /> @param string k<br /> @returns
				mixed bool || array || string<br /> @author phidalgo<br /> <br />
				Returns false if there is NO vars for this page.<br /> Returns
				string if the "k" is found on page vars array.<br /> Returns array
				if no "k" set and vars found for this page.<br />
			</p>
			<h5>Code Function</h5>
			<pre data-language="javascript" class="rainbow">
	   		   	$i._GET(varname);
   		   	</pre>
		</div>
	</div>
</div>