<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.addSubTittle</h2>
		</div>
		<div class="col-sm-8">
			<p>Adds a subtitle on the aria bar.</p>

			<h5>Function code:</h5>
			<pre>
   		   		idcp.addSubTittle = function (subtitle) {
					var html = "";
					html += "&lt;small&gt;";
					html += " &lt;i class=&quot;ace-icon fa fa-angle-double-right&quot;&gt;&lt;/i&gt; ";
					html += subtitle;
					html += "&lt;/small&gt;";
					$("#page-title").append(html);
	
				};
			</pre>
		</div>
	</div>
</div>