<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.checkToken</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Check if the client session_token is a valid session_token.<br />
				@returns jQuery Promise<br />

			</p>
		</div>
	</div>
</div>