<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.deleteCookie</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Delete cookie<br /> @param name<br />
			</p>
			<h5>Code Function</h5>
			<pre>
	   		   	idcp.deleteCookie = function (name) {
				    document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
				};
   		   	</pre>
		</div>
	</div>
</div>