<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.documentTitle</h2>
		</div>
		<div class="col-sm-8">
			<p>Changes the document title.</p>
			<h5>Code Function</h5>
			<pre>
	   		   	idcp.documentTitle = function(title){
					document.title = idcp.titlePrefix + title;
				};
   		   	</pre>
		</div>
	</div>
</div>