<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.followLink</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Change the location href to the specified link and sets title<br />
				@param link<br /> @param title<br /> @author phidalgo<br />
			</p>
			<h5>Code Function</h5>
			<pre>
	   		   	idcp.followLink = function(link, title){
					var t = title || null;
					document.location.href = '#' + link;
					if(t != null && typeof(t)==='string'){
						document.title = title;
					}
				};
   		   	</pre>
		</div>
	</div>
</div>