<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.getAppMap</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Read the map.json and get the require files for each URL.<br /> <br />
				@author phidalgo<br /> @throws appError<br />
			</p>
			<pre>
		  		$i.getAppMap()
		  		.done(function(map,var){
		  			//your code goes here...
		  		});
			</pre>
			<p>
				If it does not found a require for this URL, it will throw an
				appError.<br /> If it could not read properly the map.json, it will
				throw an appError<br /> <br /> map are structured by the URL
				"stages". For example:<br /> www.example.com/stage1/stage2/stage3<br />
				<br /> For each stage, map.json has the required files. If I enter
				to:<br /> www.example.com/stage1, getAppMap will return the
				required files for stage1.<br /> <br /> Lets going to suppose that
				map.json only has info up to stage3. What would be happen if the
				user enters to www.example.com/stage1/stage2/stage3/stage4 ?<br />
				The getAppMap will return required files for stage3 and will be pass
				"stage4" as a var.<br /> <br /> Another example, if we want to
				have a dynamic URL with id of anything like:<br />
				www.example.com/stage1/MY_SPECIFIC_ID<br /> getAppMap will return
				the required files for MY_SPECIFIC_ID, because on map.json we will
				set that in this case, maybe you will have a dynamic var ...<br />
				getAppMap also will add my "MY_SPECIFIC_ID" into a var and send it
				you too.<br /> <br /> You can, obviously do a full stage request
				with any var on it like:<br />
				www.example.com/stage1/_ID1/stage3/_ID2/stage5/_ID3/stage7<br />
				And getAppMap will return the required files for the last right
				stage, let's suppose that stage7 is not on the map.json, the
				getAppMap will return required files for stage6 (= _ID3)<br /> And
				on the vars you will find:<br /> MAP_0 = _ID1<br /> MAP_1 = _ID2<br />
				MAP_2 = _ID3<br /> MAP_3 = stage7<br /> You also have the
				possibility yo add a option on map json called "is" and specify the
				varname. Example of map.json:<br />
			</p>
			<pre>
		   		"/roles":{
		 				"require" : ["content/security/roles.html","content/security/js/roles.js"],
		 				"is": "role",
		 				"/:ALPHANUMERIC" :{
		 					"require" : ["content/security/role-module.html","content/security/js/role-module.js"]
		 				}
		 			},
			 </pre>
			<p>
				lets suppose this URL:<br /> <br />
				www.example.com/roles/ID_ROLE_5/NOT_A_VALID_URL_MAP<br /> <br />
				What would getAppMap return, two args:<br /> <br /> map,vars<br />
				<br /> map will contain an array like:<br /> <br />
				["content/security/role-module.html","content/security/js/role-module.js"].
				<br /> Thats the "/:ALPHANUMERIC" require array<br /> <br /> vars
				object will contain:<br />
			</p>
			<pre>
	 			{
	 				role: "ID_ROLE_5",
	 				MAP_1: "NOT_A_VALID_URL_MAP"
	 			}
	 		</pre>
			<p>Its important to know that getAppMap does not check if the
				files of the require array exists. It does not do this kind of
				checks.</p>
		</div>
	</div>
</div>