<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.getPromise</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Get a ajax promise from the required type and url<br /> USE ONLY
				WITH CONNECTION TO THE API SERVER.<br /> @param type<br /> @param
				url<br /> @param JSondata<br /> @param authorization<br /> @param
				asyncron<br /> @param bSend if function execute it before send, if
				container<br /> @returns promise<br /> @throws appError<br />
			</p>
		</div>
	</div>
</div>