<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.intervals</h2>
		</div>
		<div class="col-sm-8">
			<p>
				App intervals management<br /> <br /> @author phidalgo<br /> <br />
				This object has to be used to control ALL functions and methods that
				it has to be asyncrounously executed.<br /> <br /> This object has
				two main uses:<br /> <br /> $i.intervals.pages -> all methods
				related to async functions on PAGES.<br /> $i.intervals.app -> all
				methods related to async functions on the whole APP.<br /> <br />
				$i.intervals.pages:<br /> Used when you want to add an async
				function to be executed on the loaded page.<br /> i.e. : You want
				to check, every 2 seconds if we have new mail on server, on the app
				mail page.<br /> In your page script, you have to call to:
				$i.intervals.pages.add(), and specify the next:<br /> First
				argument has to be a free name to identify the async function.<br />
				Second argument has to be the function.<br /> Third argument has to
				be the period (in milliseconds) to execute the function.<br /> <br />
			<pre>
			  			$i.intervals.pages.add(
			  				'TEST_ASYNC_HELLO',
			  				function(){console.log("HELLOOO :)");},
			 				2000	
			  			); 
			  </pre>
			And that's it!. The page object management will do the rest for you.<br />
			When the page chagnes, the system will stop the async function and
			when you come back to this page, the system will be start it again<br />
			<br /> Of course you can ALWAYS start or stop or clear your function
			by using the methods:<br /> $i.intervals.pages.clear:<br /> For the
			current page, stops the async functions.<br /> <br />
			$i.intervals.app:<br /> Used wen you want to add an async function
			to be executed on the whole app. It will be always executing until
			you call to<br /> $i.intervals.app.clear(_IntervalName_);<br /> You
			might also do, whenever you want, apply again the interval, as your
			needs become, by using:<br />
			$i.intervals.app.apply(_IntervalName_);<br /> <br /> The use of
			both objects are mostly the same, but on the app object, you must
			know the interval name to clear. If you call a method, for example,
			$i.intervals.app.clear(); and you do not pass any arg, the method
			will clear all intervals on app.
			</p>
		</div>
	</div>
</div>