<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.menuLinksEnabled</h2>
		</div>
		<div class="col-sm-8">
			<p>TODO: Make it for all buttons or links on the app!!! Enable or
				disable menu link buttons. @param bool enabled</p>
			<h5>Code Function</h5>
			<pre>
	   		   	idcp.menuLinksEnabled = function(enabled){
					if(!enabled){
						$("#nav-list li").each(function(){
							$(this).addClass("disabled");
						});
					}
					else{
						$("#nav-list li").each(function(){
							$(this).removeClass("disabled");
						});
					}
				};
   		   	</pre>
		</div>
	</div>
</div>