<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.pages</h2>
		</div>
		<div class="col-sm-8">
			<p>Array of the pages. This array contains a page object.</p>
			<pre>
				$i.pages.pages[]
				
				//Page object
				{
					route: string, 
					pageHash: string,
					urlHash: string, 
					html: string,
					intervals: [],
					cache: boolean,
					callback: string,
					visible: boolean
				});
				
			</pre>
			<h5>$i.pages.find</h5>
			<p>
				Object find<br /> @author phidalgo<br /> The find object has two
				methods:<br /> -visible: returns the current visible page object.<br />
				-me : returns the current visible page jquery object.<br />
			</p>
			<pre>$i.pages.find.me();<br />$i.pages.find.visible();</pre>
			<p>Hides all visible pages from content.</p>
			<pre>$i.pages.hide();</pre>
			<p>
				Shows, if it exists on page array, the visible page to the user
				(make it visible on content).<br /> Returns true if it successfully
				show the page or false if does not exist or error.
			</p>
			<pre>$i.pages.show();</pre>
		</div>
	</div>
</div>