<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.readCookie</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Get cookie value<br /> @param name<br /> @return Cookie value or
				null if not found<br />
			</p>
			<pre>
	   		   	idcp.readCookie = function (name) {
					var cookie = document.cookie, e, p = name + "=", b;
					if ( !cookie )
						return null;
					b = cookie.indexOf("; " + p);
					if ( b == -1 ) {
						b = cookie.indexOf(p);
						if ( b != 0 )
							return null;
					} else {
						b += 2;
					}
					e = cookie.indexOf(";", b);
					if ( e == -1 )
						e = cookie.length;
				
					return decodeURIComponent( cookie.substring(b + p.length, e) );
				};
   		   	</pre>
		</div>
	</div>
</div>