<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.require</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Load sequentially the files specified.<br /> <br /> @author
				phidalgo<br /> @param files Files that you want to load
				sequencially<br /> @param layout Target of the loaded files if
				there are html <br /> @param vars Variables sensed to all specified
				files if there are js<br /> @throws appError if problems with
				layout.<br /> @returns {jQuery.loadFiles}<br /> <br /> <br />
				This method changes their behaviour regarding the file type you want
				to load.<br /> <br /> You can call this method if you want to load
				a list of js files sequentially by:<br /> <br />
			<pre>
			  		$i.require(["file1.js","file2.js","file3.js",...]);<br />
			  	</pre>
			<br /> The first file of array will be load first, the second one,
			the second... and the same until last.<br /> <br /> You can call
			this method if you want to load an html file into the specified div
			like:<br />
			<pre>
			  		$i.require(["file1.html","file1.js"],$('#wrapper'));<br />
			  	</pre>
			<br /> You have to put the html files on the first position because,
			when the html file is downloaded, this method will print it on the
			specified layout.<br /> THE METHOD WILL NOT WAIT TO DOWNLOAD ALL
			FILES, WHEN THE HTML FILE IS DOWNLOADED, THE METHOD WILL PRINT IT!<br />
			<br /> This is like this due to avoid to print it after the js file
			is loaded... :)<br /> <br /> IMPORTANT: If the layout is the
			layout_content ($i.layout_content) jqueryt object, it will do
			additional features:<br /> <br /> add the downloaded html to the
			page caching system. (the $i.pages methods & objects).<br /> If this
			method detects that the html file is on the page system, it will STOP
			to download any file (ANY FILE), and will call the show method to
			show the content. <br /> pages will call to the callback function
			and execute its code.<br /> <br /> You, as a programmer could
			interest you that some page does not add to this page caching system,
			it easy to do this.<br /> <br /> On the page main div, you write:<br />
			<pre>
			  			&lt;div data-nocache&gt;&lt;/div&gt; OR &lt;div data-nocache=&quot;true&quot;&gt;&lt;/div&gt;<br />
			  		</pre>
			If you want to work normally ...<br />
			<pre>
			  			&lt;div&gt;&lt;/div&gt; OR &lt;div data-nocache=&quot;false&quot;&gt;&lt;/div&gt;<br />
			  		</pre>
			<br /> If you work with data-nocache, every time the user goes to
			this page, the system will download, again, the html files, the js
			files and reload it.<br /> <br /> <br /> If you call this method,
			with html file and also add a vars, this vars will be added to
			window["PAGE_HASH"], to recover it later, maybe in your page js file?
			:), later to do your<br /> purposes. You can get the vars by call
			$._GET(); function (like PHP).<br /> <br /> This class has also
			another methods... like ".done()", ".fail()" or ".html()";<br /> <br />
			.done() is like $jquery .done() for ajax method.<br /> <br />
			.fail() or .html() DISABLES THE REGULAR behaviour of this method.<br />
			If you call .html() this method will delegate you the work to apply
			on a specific layout and add to the current page system, for example<br />
			If you call .fail() the same as .html(), you have to call throw if
			you need... or do what you want.<br />
			</p>
		</div>
	</div>
</div>