<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i()</h2>
		</div>
		<div class="col-sm-8">
			<p>
				$i Selector<br /> @param string Selectable<br />
			</p>
			<p>
				El métode selector de <strong>$i</strong> és molt semblant al
				selector de <strong>jQuery</strong>, però amb una petita diferencia.
			</p>
			<pre>$i('#userList .selected');</pre>
			<pre>$('#userList .selected');</pre>

			<p>
				En el primer cas obtindrem els elements amb classe <i>selected</i>
				de l'element amb <strong>data-id</strong> igual a <i>userList</i>,
				de la <strong>pàgina activa</strong> Si es desitja, es pot
				especificar un segon argument amb l'objecte jQuery a on voldrem
				cercar el data-id.
			</p>
			<p>
				En el segon cas obtindrem els elements amb classe <i>selected</i> de
				l'element amb <strong>id</strong> igual a <i>userList</i>, de <strong>tot
					l'objecte DOM</strong>
			</p>
			<p>Cal tenir en compte que en ambdos casos, si es troba
				l'element, el que retornarà serà un objecte jQuery. És a dir, fent
				$i() o $(), si cerquem el mateix, trobarem el mateix i els dos
				métodes retornaràn el mateix.</p>
		</div>
	</div>
</div>