<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.sessionManagement</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Sets the app intervals functions that will manage the user's
				session.<br /> When you call this function and pass as a arg the
				right variables ( a object with server session information), this
				function will restore the<br /> right interval, given a expire date
				and a session timeout. <br /> <br /> @param object data<br />
				@author phidalgo<br />
			</p>
		</div>
	</div>
</div>