<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.setCookie</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Set cookie value<br /> @param name<br /> @param value<br />
				@param exdate<br />
			</p>
			<pre>
				idcp.setCookie = function (name, value, exdate) {
				    //If exdate exists then pass it as a new Date and convert to UTC format
				    (exdate) && (exdate = new Date(exdate).toUTCString());
				    
				    var c_value = escape(value) + ((exdate === null || exdate === undefined) ? "" : "; expires=" + exdate);
				    c_value += "; path=/";
				    		
				    document.cookie = name + "=" + c_value;
				};
			</pre>
		</div>
	</div>
</div>