<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.setPageButtons</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Set page buttons on content header.<br /> <br /> @param object
				config<br /> @author phidalgo<br /> <br /> A current example
				config object is:
			</p>
			<pre>
			   var pobject = {
			 		type: 'new',
			 		back: true,
			 		onClick: newDepartment
			 	};
			</pre>
			Type means what kind of button do you want. Actually, there is a
			limited number of options:<br /> -new : Adds a "new" button and adds
			a event :NEW_ELEMENT.<br /> -For this one, you must set an onClick
			option on the config object, specifying the function to be executed
			when the user clicks to new :)<br /> -form : Adds two buttons,
			Submit and Undo, each with the specific events.<br /> -The same for
			new, you must set an onClick option on the config object with the
			function to be executed.<br /> <br /> Back means if you want to
			show a "back" button, this button will do a history.back(1);.<br />
			TODO: It might be a good update to this method apply this idea: <br />
			Instead of go back 1 time on the history, look where are the user on
			the map, and go back 1 option. This idea becomes due because history
			back pushes every hash change<br /> And in this app, it might be not
			truly usefull because it could happens that this history.back(1) goes
			to the same page we are several times...<br /> So, it will be a good
			trick.<br /> <br /> TODO: This class is not DONE. So we have to
			work to finish it.<br />
		</div>
	</div>
</div>