<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.userInfo</h2>
		</div>
		<div class="col-sm-8">
			<p>Object with user-logged info.</p>
			<p>This object are filled using</p>
			<pre>$i.getUserInfo();</pre>

			<h5>Code Function:</h5>
			<pre>
   		   		idcp.getUserInfo = function(){
					var promise = idcp.getPromise("GET",'users/me')
					.done(function(data){
						info = data.data;
						idcp.userInfo.id = info.id;
						idcp.userInfo.username = info.username;
						idcp.userInfo.name = info.name;
						idcp.userInfo.surname = info.surname;
						idcp.userInfo.email = info.email;
						idcp.userInfo.country = info.country;
						idcp.userInfo.city = info.city;
						idcp.userInfo.facebook = info.facebook;
						idcp.userInfo.skype = info.skype;
						idcp.userInfo.joined = info.joined;
						idcp.userInfo.birthDate = info.birthDate;
						idcp.userInfo.about = info.about;
						idcp.userInfo.photo = info.photo;
						idcp.userInfo.phoneNumber = info.phoneNumber;
						idcp.userInfo.cellNumber = info.cellNumber;
						idcp.userInfo.departments = info.departments;
						idcp.userInfo.role = info.role;
						idcp.userInfo.session = info.session;
					});
					return promise;
				};
				
				idcp.userInfo = {
					id : null,
					name : null,
					surname : null,
					email : null,
					username: null,
					country: null,
					city: null,
					facebook: null,
					skype: null,
					joined: null,
					birthDate: null,
					about: null,
					cellNumber : null,
					phoneNumber : null,
					photo: null,
					departments : null,
					role : null,
					session : null
				};
   		   	</pre>
		</div>
	</div>
</div>