<div>
	<div class="row-fluid">
		<div data-id="departments-content-info" class="row">
			<div class="col-xs-4"></div>
			<div data-id="departments-list" class="col-xs-4"></div>
			<div class="col-xs-4"></div>
		</div>
	</div>
	<div data-id="modal-addDepartment" class="modal" tabindex="-1"
		aria-hidden="true" style="display: none;" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="blue bigger" data-id="modaltitle"
						data-i18n="security:addDepartmentModalTitle"></h4>
				</div>
				<div class="modal-body overflow-visible">
					<div data-id="addDepartment-box"
						class="login-box visible widget-box no-border">
						<div class="widget-body">
							<div class="widget-main">
								<h4 class="header blue lighter bigger"
									data-i18n="security:userlogin">
									<i class="fa fa-briefcase green"></i> <span
										data-i18n="security:departmentNewName"></span>
								</h4>
								<div class="space-6"></div>
								<fieldset>
									<label class="block clearfix"> <span
										class="block input-icon input-icon-right"> <input
											type="text" name="name" class="form-control" value=""
											data-i18n="[placeholder]security:phdepartmentinput;" /> <i
											class="ace-icon fa fa-briefcase green"></i>
									</span>
									</label>
									<div class="space"></div>
									<div class="space-4"></div>
								</fieldset>
								<div data-id="department-response-msg"
									class="alert alert-info hidden"></div>
							</div>
							<!-- /widget-main -->
						</div>
						<!-- /widget-body -->
					</div>
					<!-- /login-box -->
				</div>
				<div class="modal-footer">
					<button class="btn btn-sm" data-id="modal-addDepartment-cancel">
						<i class="fa fa-times"></i> <span data-i18n="security:addCancel"></span>
					</button>
					<button class="btn btn-sm btn-primary"
						data-id="modal-addDepartment-submit">
						<i class="fa fa-check"></i> <span data-i18n="security:addSubmit"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>