<div data-nocache>
	<h2 data-i18n="security:group_form_title" data-i18n=""></h2>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2" for="name"
					data-i18n="security:lbl_group"></label>
				<div class="col-xs-12 col-sm-5">
					<span class="block input-icon">
						<input type="text" name="group_name" class="col-xs-12 col-sm-12" data-id="group_name" required>
						<i class="ace-icon fa fa-users blue"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<table class="table table-striped table-bordered table-hover groupTable">
				<thead>
					<tr role="row">
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_table"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="5" data-i18n="security:col_user" style="text-align:center;"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="4" data-i18n="security:col_group" style="text-align:center;"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="4" data-i18n="security:col_others" style="text-align:center;"></th>
					</tr>
					<tr role="row">
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_create_abbr"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_read_abbr"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_write_abbr"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_delete_abbr"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_administrate_abbr"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_read_abbr"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_write_abbr"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_delete_abbr"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_administrate_abbr">
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_read_abbr"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_write_abbr"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_delete_abbr"></th>
						<th data-column-sortable="no" data-resizable="false" role="columnheader" rowspan="1" colspan="1" data-i18n="security:col_administrate_abbr"></th>
					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all" data-id="table-content">
				</tbody>
			</table>
		</div>
	</div>
</div>