<div data-nocache>
	<h2 data-i18n="security:role-module_title" data-i18n=""></h2>
	<div data-id="role-module-name" class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2" for="name"
					data-i18n="security:lbl_role"></label>
				<div class="col-xs-12 col-sm-5">
					<span class="block input-icon"> <input type="text"
						name="name" class="col-xs-12 col-sm-12" data-id="name" required>
						<i class="ace-icon fa fa-users blue"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div data-id="role_content" class="accordion-style1 panel-group" data-collapse="accordion"></div>
</div>
