
<div data-nocache>
	<div class="row">
		<form name="main" class="form-horizontal" role="form">
			<input type="hidden" name="creator" data-id="creator" data-name="creator" send/>
			<!-- PAGE CONTENT BEGINS -->
			<div class="col-xs-12 col-sm-6">
				<!-- B:UID -->
				<div class="form-group">
					<div class="col-xs-7 col-sm-12 page-header">
						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<h1 data-id="header-process-name">&nbsp;</h1>
							</div>
							<div class="col-xs-12 col-sm-5">
								<!-- B:Priority -->
								<span class="rating pull-right"></span>
								<!-- E:Priority -->
							</div>
						</div>
					</div>
				</div>
				<!-- E:UID -->
				
				<!-- B:NAME -->
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="form-field-1" data-i18n="ai:lbl_enabled"></label>
					<div class="col-xs-12 col-sm-7">
						<label>
							<input type="checkbox" name="enabled" data-id="enabled" data-name="enabled" id="enabled" class="ace ace-switch ace-switch-4 btn-rotate" requered/>
							<span class="lbl" data-lbl=""></span>
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="name" data-i18n="ai:lbl_name"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="text" name="processName" data-id="name" class="col-xs-12 col-sm-12" required autocomplete="off">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="name" data-i18n="ai:lbl_source"></label>
					<div class="col-xs-12 col-sm-7">
						<select data-id="source" data-name="idsource" class="form-control" required></select>
					</div>
				</div>
				<!-- E:NAME -->
				<!-- B:DESCRIPTION -->
				<div class="form-group col-xs-12">
					<label class="control-label" data-i18n="ai:lbl_description"></label>
					<div class="col-xs-12">
						<div class="wysiwyg-editor" data-name="description" data-id="description"></div>
					</div>
				</div>
				<!-- E:DESCRIPTION -->
			</div>
		</form>
	</div>



	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li data-tab="ai-scheduler" class="active">
				<a data-toggle="tab" href="#ai-scheduler">
					<i class="red ace-icon fa fa-calendar-check-o bigger-120" aria-hidden="true"></i>
					<span data-i18n="ai:tab_scheduler"></span>
				</a>
			</li>
			<li data-tab="ai-rules" class="disabled"><a data-toggle="tab" href="#ai-rules"><i class="red ace-icon fa fa-question bigger-120" aria-hidden="true"></i><span data-i18n="ai:tab_rules"></span></a></li>
			<li data-tab="ai-actions" class="disabled"><a data-toggle="tab" href="#ai-actions"><i class="red ace-icon fa fa-tachometer bigger-120" aria-hidden="true"></i><span data-i18n="ai:tab_actions"></span></a></li>
			<li data-tab="ai-notifications"><a data-toggle="tab" href="#ai-notifications"><i class="red ace-icon fa fa-comments-o bigger-120" aria-hidden="true"></i><span data-i18n="ai:tab_notifications"></span></a></li>
			<li data-tab="ai-workteams"><a data-toggle="tab" href="#ai-workteams"><i class="red ace-icon fa fa-users bigger-120" aria-hidden="true"></i><span data-i18n="ai:tab_workteams"></span></a></li>
		</ul>
		<div class="tab-content" data-id="user-basic-form">
			<div id="ai-scheduler" class="tab-pane fade in active">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div id="scheduler" data-id="scheduler"></div>
					</div>
				</div>
			</div>

			<div id="ai-rules" class="tab-pane fade">
				<button class="btn btn-app btn-grey btn-xs radius-4" data-tooltip="true" data-placement="bottom" title="" data-original-title ="Nou" data-placement="bottom" id="newRule"><i class="ace-icon fa fa-plus align-top bigger-160 icon-only"></i></button>
				<div class="row">
					<div class="col-xs-12 col-sm-12" id="rules-list">
						<div data-id="rules-list"></div>
					</div>
				</div>
			</div>

			<div id="ai-actions" class="tab-pane fade">
				<button class="btn btn-app btn-grey btn-xs radius-4" data-tooltip="true" title="new action" data-original-title="new action" data-ischanged="true" data-id="newAction"><i class="ace-icon fa fa-plus align-top bigger-160 icon-only"></i></button>
				<form name="" class="form-horizontal" role="form">
					<div class="row">
						<div class="col-xs-12 col-sm-12" id="actions-list">
							<div data-id="actions-list"></div>
						</div>
					</div>
				</form>
			</div>

			<div id="ai-notifications" class="tab-pane fade">
				<form name="notifications" class="form-horizontal" role="form">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group checkbox">
								<label class="block">
									<input name="whenprocessed" data-name="whenprocessed" type="checkbox" data-id="not-when-success" class="ace input-lg">
									<span class="lbl bigger-120" data-i18n="ai:checkbox_when_success"> </span>
								</label>
							</div>
							<div class="form-group checkbox">
								<label class="block">
									<input name="whenwarnings" data-name="whenwarnings" type="checkbox" data-id="not-when-warning" class="ace input-lg">
									<span class="lbl bigger-120" data-i18n="ai:checkbox_when_warning"> </span>
								</label>
							</div>
							<div class="form-group checkbox">
								<label class="block">
									<input name="whenerrors" data-name="whenerrors" type="checkbox" data-id="not-when-error" class="ace input-lg">
									<span class="lbl bigger-120" data-i18n="ai:checkbox_when_error"> </span>
								</label>
							</div>
							<div class="form-group checkbox">
								<label class="block">
									<input name="whenrejects" data-name="whenrejects" type="checkbox" data-id="not-when-reject" class="ace input-lg">
									<span class="lbl bigger-120" data-i18n="ai:checkbox_when_reject"> </span>
								</label>
							</div>
							<div class="form-group checkbox">
								<label class="block">
									<input name="whenchanges" data-name="whenchanges" type="checkbox" data-id="not-when-change" class="ace input-lg">
									<span class="lbl bigger-120" data-i18n="ai:checkbox_when_change"> </span>
								</label>
							</div>
							<div class="form-group checkbox">
								<label class="block">
									<input name="addbasicinformation" data-name="addbasicinformation" type="checkbox" data-id="not-add-information" class="ace input-lg">
									<span class="lbl bigger-120" data-i18n="ai:lbl_add_basic_information"> </span>
								</label>
							</div>
							<div class="form-group checkbox">
								<label class="block">
									<input name="addsourcefile" data-name="addsourcefile" type="checkbox" data-id="not-add-file" class="ace input-lg">
									<span class="lbl bigger-120" data-i18n="ai:lbl_add_source_file"> </span>
								</label>
							</div>
						</div>
						<div class="col-md-8">
							<label class="control-label" for="email">Emails</label>
							<span class="block input-icon input-icon-right">
								<input name="not-emails" data-id="not-emails" data-name="email" class="form-control rounded-0" required="true">
								<i ></i>
							</span>
						</div>
					</div>
				</form>
			</div>

			<div id="ai-workteams" class="tab-pane fade">
				<form name="permissions" class="form-horizontal" role="form">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
						</div>
						<div class="col-xs-12 col-sm-6"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>