<style type="text/css">
	input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000072;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000072;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000072;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}	
</style>

<form class="form-horizontal" role="form" name="bank_form" id="formRule">
	<div class="row">
		<div class="col-xs-12">
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="enabledRule" data-i18n="ai:lbl_enabled"></label>
          <label style="padding-left: 15px"> 
            <input type="checkbox" name="enabled" data-id="enabledRule" data-name="enabled" id="enabledRule" class="ace ace-switch ace-switch-4 btn-rotate col-xs-12 col-sm-12" checked/> 
            <span class="lbl" data-lbl=""></span>
          </label>
      </div>
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" id="labelName" for="name" data-i18n="ai:rule_name"></label>
				<div class="col-xs-12 col-sm-10">
					<input type="text" name="label" data-id="ruleName" id="ruleName" class="col-xs-12 col-sm-12" value="" required maxlength="125">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" id="labelWeight" for="name" data-i18n="ai:rule_weight"></label>
				<div class="col-xs-12 col-sm-10">
					<input data-id="weight" id="range" name="thumb-roundness" ngmodel="slider['contrast']" label="" class="form-control ng-pristine ng-valid ng-scope" type="range" min="0" max="1" step="0.01" value="1" ng-model="slider['contrast']">
					<label> <span id="counter"></span></label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="name" id="labelProperty" data-i18n="ai:rule_property"></label>
				<div class="col-xs-12 col-sm-10">
					<select id="property" data-select="no-search" class="col-xs-11 col-sm-11 select2" data-id="property" name="type" required></select>
					<!-- NOTA: phidalgo añado esto para generar un espacio, soluciona el problema pero de forma incorrecta. Deberia haberse estructurado el HTML y el CSS distinto. El style tmp deberia estar -->
          &nbsp;<i class="fa fa-2x fa-info-circle" style="color: #428bca;" data-tooltip="true" data-toggle="tooltip" title="" data-placement="right"></i>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" id="labelOperator" for="name" data-i18n="ai:rule_operator"></label>
				<div class="col-xs-12 col-sm-10">
					<select id="operator" data-select="no-search" class="col-xs-12 col-sm-12 select2" data-id="operator" name="type"
						required>
            <!-- data-tooltip="true" data-toggle="tooltip" title="Hooray!" -->
						<option value="equals">Equal</option>
						<option value="less">Less</option>
						<option value="greater">Greater</option>
						<option value="lessequals">Less Equal</option>
						<option value="greaterequals">Greater Equal</option>
						<option value="contains">Contains</option>
						<option value="notcontains">Not contains</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right"
					id="labelValue" for="name" data-i18n="ai:rule_value"></label>
				<div class="col-xs-12 col-sm-10" id="divRuleValue">
          <!-- <select multiple class="col-xs-12 col-sm-12 tag-input-style chosen" name="ruleValue" id="ruleValue"></select> -->
					<!-- <input type="text" name="label" data-id="label" id="ruleValue" class="col-xs-12 col-sm-12" value="" required maxlength="125"> -->
				</div>
			</div>
		</div>
	</div>
</form>
