<div>
	<div class="page-header">
		<h1>
			<span data-id="task-status"></span>
			<span data-id="task-header-title">Typography</span>
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				<span data-id="task-header-usid">This is page-header (.page-header &gt; h1)</span>
			</small>
		</h1>
	</div>
	
	<dl id="dt-list-1" class="dl-horizontal">
		<dt>Source</dt>
		<dd data-id="task-source">A description list is perfect for defining terms.</dd>
		<dt>TMS Url</dt>
		<dd data-id="task-tms-url">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
		<dt>Harvest Method</dt>
		<dd data-id="task-harvest-method">Etiam porta sem malesuada magna mollis euismod.</dd>
		<dt>Client task id</dt>
		<dd data-id="task-client-id">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
		<dt>Due date</dt>
		<dd data-id="task-duedate"></dd>
		<dt>Source Language</dt>
		<dd data-id="task-sourcelanguage"></dd>
		<dt>Target Languages</dt>
		<dd data-id="task-targetslanguage"></dd>
	</dl>
	<div class="row">
		<div class="col-sm-3">
			<h3>Comptatge</h3>
			<table data-id="task-wordcount" class="table table-striped table-bordered"></table>
		</div>
		<div class="col-sm-4">
			<h3>Additional Properties</h3>
			<table data-id="task-additional-properties" class="table table-striped table-bordered"></table>
		</div>
		<div class="col-sm-6">
		</div>
		
	</div>
	<div class="row">
	<div class="col-sm-6">
			<h3>Task Status history</h3>
			<ul data-id="task-status-history"></ul>
		</div>
	</div>
</div>