<div data-nocache>
	<div class="row">
		<form name="main" class="form-horizontal" role="form">
			<!-- PAGE CONTENT BEGINS -->
			<div class="col-xs-12 col-sm-6">
				<!-- B:UID -->
				<div class="form-group">
					<div class="col-xs-7 col-sm-12 page-header">
						<div class="row">
							<div class="col-xs-12 col-sm-7">
								<h1 data-id="uid">&nbsp;</h1>
							</div>
							<div class="col-xs-12 col-sm-5">
								<!-- B:Priority -->
								<span class="rating pull-right"></span>
								<!-- E:Priority -->
							</div>
						</div>
					</div>
				</div>
				<!-- E:UID -->
				<!-- B:NAME -->
				<div class="form-group" data-id="div_username">
					<label class="control-label col-xs-12 col-sm-2 no-padding-right"
						for="name" data-i18n="users:lbl_username"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="text" name="username" data-id="username"
							class="col-xs-12 col-sm-12" required autocomplete="off">
					</div>
				</div>
				<!-- E:NAME -->
				<!-- B:NAME -->
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-2 no-padding-right"
						for="name" data-i18n="users:lbl_name"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="text" name="name" data-id="name"
							class="col-xs-12 col-sm-12" required autocomplete="off">
					</div>
				</div>
				<!-- E:NAME -->
				<!-- B:SURNAME -->
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-2 no-padding-right"
						for="name" data-i18n="users:lbl_surname"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="text" name="surname" data-id="surname"
							class="col-xs-12 col-sm-12" required autocomplete="off">
					</div>
				</div>
				<!-- E:SURNAME -->
				<!-- B:EMAIL -->
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-2 no-padding-right"
						for="name" data-i18n="users:lbl_email"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="text" name="email" data-id="email"
							class="col-xs-12 col-sm-12" required autocomplete="off"
							data-varType="email">
					</div>
				</div>
				<!-- E:EMAIL -->
				<!-- B:NEW_PASSWORD -->
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-2 no-padding-right"
						for="name" data-i18n="users:lbl_new_password"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="password" name="new_password" data-id="new_password"
							class="col-xs-12 col-sm-12">
					</div>
				</div>
				<!-- E:NEW_PASSWORD -->
				<!-- B:NEW_PASSWORD_CONFIRM -->
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-2 no-padding-right"
						for="name" data-i18n="users:lbl_new_password_confirm"></label>
					<div class="col-xs-12 col-sm-7">
						<input type="password" name="new_password_confirm"
							data-id="new_password_confirm" class="col-xs-12 col-sm-12">
					</div>
				</div>
				<!-- E:NEW_PASSWORD_CONFIRM -->
			</div>
			<div class="col-xs-12 col-sm-3">
				<div data-id="administration"></div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<!-- B:STATUS -->
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-5 no-padding-right" for="form-field-1" data-i18n="users:lbl_status"></label>
					<div class="col-xs-12 col-sm-7">
						<select class="col-xs-12 col-sm-12 select2-no-search" name="status" data-id="status">
							<option value="A" data-i18n="users:opt_active"></option>
							<option value="I" data-i18n="users:opt_inactive"></option>
							<option value="B" data-i18n="users:opt_blocked" selected></option>
						</select>
					</div>
				</div>
				<!-- E:STATUS -->
				<!-- B:PHOTO -->
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-5 no-padding-right" for="form-field-1" data-i18n="users:lbl_photo"></label>
					<div class="col-xs-12 col-sm-7" data-id="avatar"></div>
				</div>
				<!-- E:PHOTO -->
			</div>
		</form>
	</div>



	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li data-tab="basic" class="active"><a data-toggle="tab" href="#basic"><i class="red ace-icon fa fa-info bigger-120" aria-hidden="true"></i><span data-i18n="users:tab_basic"></span></a></li>
			<li data-tab="curriculums"><a data-toggle="tab" href="#curriculums"><i class="red ace-icon fa fa-file-text bigger-120" aria-hidden="true"></i><span data-i18n="users:tab_curriculum"></span></a></li>
			<li data-tab="qualifications"><a data-toggle="tab" href="#qualifications"><i class="red ace-icon fa fa-tachometer bigger-120" aria-hidden="true"></i><span data-i18n="users:tab_qualifications"></span></a></li>
			<li data-tab="features"><a data-toggle="tab" href="#features"><i class="red ace-icon fa fa-sitemap bigger-120" aria-hidden="true"></i><span data-i18n="users:tab_features"></span></a></li>
			<li data-tab="permissions"><a data-toggle="tab" href="#permissions"><i class="red ace-icon fa fa-lock bigger-120" aria-hidden="true"></i><span data-i18n="users:tab_permissions"></span></a></li>
			<li data-tab="ui-configuration"><a data-toggle="tab" href="#ui-configuration"><i class="red ace-icon fa fa-sliders bigger-120"></i><span data-i18n="users:tab_ui-configuration"></span></a></li>
		</ul>
		<div class="tab-content" data-id="user-basic-form">
			<div id="basic" class="tab-pane fade in active">
				<div class="row">
					<div class="col-xs-12">
						<form name="general" class="form-horizontal" role="form">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<!-- B:VAT -->
									<div class="form-group">
										<label
											class="control-label col-xs-12 col-sm-3 no-padding-right"
											for="name" data-i18n="users:lbl_vat"></label>
										<div class="col-xs-12 col-sm-7">
											<input type="text" name="vat" class="col-xs-12 col-sm-12"
												data-id="vat" maxlength="15" required>
										</div>
									</div>
									<!-- E:VAT -->
									<!-- B:ADDRESS-->
									<div class="form-group">
										<label
											class="control-label col-xs-12 col-sm-3 no-padding-right"
											for="name" data-i18n="users:lbl_address"></label>
										<div class="col-xs-12 col-sm-7">
											<span class="block input-icon"> <input type="text"
												name="address" class="col-xs-12 col-sm-12" data-id="address">
												<i class="ace-icon fa fa-location-arrow blue"></i>
											</span>
										</div>
									</div>
									<!-- E:ADDRESS-->
									<!-- B:CITY-->
									<div class="form-group">
										<label
											class="control-label col-xs-12 col-sm-3 no-padding-right"
											for="name" data-i18n="users:lbl_city"></label>
										<div class="col-xs-12 col-sm-7">
											<span class="block input-icon"> <input type="text"
												name="city" class="col-xs-12 col-sm-12" data-id="city">
												<i class="ace-icon fa fa-location-arrow blue"></i>
											</span>
										</div>
									</div>
									<!-- E:CITY-->
									<!-- B:COUNTRY-->
									<div class="form-group">
										<label
											class="control-label col-xs-12 col-sm-3 no-padding-right"
											for="platform" data-i18n="users:lbl_country"></label>
										<div class="col-xs-12 col-sm-7">
											<select class="col-xs-12 col-sm-12 select2" name="country_id"
												data-id="country_id"></select>
										</div>
									</div>
									<!-- E:COUNTRY -->
									<!-- B:ZIP_CODE -->
									<div class="form-group">
										<label
											class="control-label col-xs-12 col-sm-3 no-padding-right"
											for="form-field-1-1" data-i18n="users:lbl_zip_code"></label>
										<div class="col-xs-12 col-sm-7">
											<input class="col-xs-12 col-sm-12" type="text"
												name="zip_code" data-id="zip_code" data-varType="integer">
										</div>
									</div>
									<!-- E:ZIP_CODE -->
									<!-- B:PHONE_NUMBER -->
									<div class="form-group">
										<label
											class="control-label col-xs-12 col-sm-3 no-padding-right"
											for="form-field-1-1" data-i18n="users:lbl_phone_number"></label>
										<div class="col-xs-12 col-sm-7">
											<span class="block input-icon"> <input
												class="col-xs-12 col-sm-12" type="text" name="phone_number"
												data-id="phone_number"> <i
												class="ace-icon fa fa-phone blue"></i>
											</span>
										</div>
									</div>
									<!-- E:PHONE_NUMBER -->
									<!-- B:CELL_NUMBER -->
									<div class="form-group">
										<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="form-field-1-1" data-i18n="users:lbl_cell_number"></label>
										<div class="col-xs-12 col-sm-7">
											<span class="block input-icon">
												<input class="col-xs-12 col-sm-12" type="text" name="cell_number" data-id="cell_number"> 
												<i class="ace-icon fa fa-mobile blue"></i>
											</span>
										</div>
									</div>
									<!-- E:CELL_NUMBER -->
								</div>
								<div class="col-xs-12 col-sm-4">
									<!-- B:BIRTH_DATE-->
									<div class="form-group">
										<label
											class="control-label col-xs-12 col-sm-3 no-padding-right"
											for="name" data-i18n="users:lbl_birth_date"></label>
										<div class="col-xs-12 col-sm-7">
											<span class="block input-icon"> 
												<input class="form-control date-picker-historic input-mask-date" name="birth_date" data-id="birth_date" type="text">											<i class="ace-icon fa fa-calendar blue"></i>
											</span>
										</div>
									</div>
									<!-- E:BIRTH_DATE-->
									<!-- B:BIRTH_COUNTRY_ID -->
									<div class="form-group">
										<label
											class="control-label col-xs-12 col-sm-3 no-padding-right"
											for="platform" data-i18n="users:lbl_country_birth"></label>
										<div class="col-xs-12 col-sm-7">
											<select class="col-xs-12 col-sm-12 select2"
												name="country_birth_id" data-id="country_birth_id"></select>
										</div>
									</div>
									<!-- E:BIRTH_COUNTRY_ID -->
									<!-- B:DRIVING_LICENSE -->
									<div class="form-group">
										<label
											class="control-label col-xs-12 col-sm-3 no-padding-right"
											for="form-field-1-1" data-i18n="users:lbl_driving_license"></label>
										<div class="col-xs-12 col-sm-7">
											<div class="checkbox">
												<label> <input type="checkbox"
													data-id="driving_license" name="driving_license"
													class="ace"> <span class="lbl"></span>
												</label>
											</div>
										</div>
									</div>
									<!-- B:DRIVING_LICENSE -->
									<!-- B:OWN_CAR -->
									<div class="form-group">
										<label
											class="control-label col-xs-12 col-sm-3 no-padding-right"
											for="form-field-1-1" data-i18n="users:lbl_own_car"></label>
										<div class="col-xs-12 col-sm-7">
											<div class="checkbox">
												<label> <input type="checkbox" data-id="car"
													name="car" class="ace"> <span class="lbl"></span>
												</label>
											</div>
										</div>
									</div>
									<!-- B:OWN_CAR -->
									<div data-id="dynAttr-loadZone"></div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<!-- B:OBSERVATIONS -->
									<div class="form-group">
										<label class="control-label col-xs-12 col-sm-12" for="name"
											data-i18n="users:lbl_about"></label>
										<div class="col-xs-12 col-sm-12">
											<div class="wysiwyg-editor" data-name="about" data-id="about"></div>
										</div>
									</div>
									<!-- E:OBSERVATIONS -->
								</div>
							</div>
							<!-- PAGE CONTENT ENDS -->
						</form>
					</div>
				</div>
			</div>

			<div id="curriculums" class="tab-pane fade">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<!-- B:CURRICULUM -->
						<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3 no-padding-right"
								for="form-field-1-1" data-i18n="users:lbl_curriculum"></label>
							<div class="col-xs-12 col-sm-7" data-id="curriculum_upload">
							</div>
						</div>
						<!-- E:CURRICULUM -->
					</div>
				</div>
			</div>

			<div id="features" class="tab-pane fade">
				<form name="" class="form-horizontal" role="form">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div data-id="tags-loadZone"></div>
							<div data-id="chapters-loadZone"></div>
							<!-- B:OBSERVATIONS -->
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-12" for="name"
									data-i18n="users:lbl_observations"></label>
								<div class="col-xs-12 col-sm-12">
									<div class="wysiwyg-editor" data-name="observations"
										data-id="observations"></div>
								</div>
							</div>
							<!-- E:OBSERVATIONS -->
						</div>
					</div>
				</form>
			</div>

			<div id="qualifications" class="tab-pane fade">
				<div class="row">
					<div class="col-xs-12 col-sm-12" data-id="qualifications-loadZone"></div>
					<div class="col-xs-12 col-sm-12">
						<div class="row">
							<div class="form-group">
								<div class="col-xs-12 col-sm-12">
									<div class="checkbox">
										<label><input type="checkbox" data-id="q_advice" name="q_advice" nosend class="ace">&nbsp;
											<span class="lbl" data-i18n="users:lbl_qualification_advice"></span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div id="permissions" class="tab-pane fade">
				<form name="permissions" class="form-horizontal" role="form">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<!-- B:ROLE -->
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3 no-padding-right"
									for="name" data-i18n="users:lbl_role"></label>
								<div class="col-xs-12 col-sm-7">
									<select class="col-xs-12 col-sm-12 select2" name="role_id" data-id="role_id" required></select>
								</div>
							</div>
							<!-- E:ROLE -->
							<!-- B:USER_GROUP -->
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3 no-padding-right"
									for="name" data-i18n="users:lbl_group"></label>
								<div class="col-xs-12 col-sm-7">
									<select class="col-xs-12 col-sm-12 select2" name="user_group" data-id="user_group" required></select>
								</div>
							</div>
							<!-- E:USER_GROUP -->
							<!-- B:USER_DEPARTMENT-->
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="name" data-i18n="users:lbl_department"></label>
								<div class="col-xs-12 col-sm-7">
									<select class="col-xs-12 col-sm-12 select2" name="user_department" data-id="user_department" required></select>
								</div>
							</div>
							<!-- E:USER_DEPARTMENT-->
							<!-- B:THIRD_PARTY -->
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="name" data-i18n="users:lbl_thirdparty"></label>
								<div class="col-xs-12 col-sm-7">
									<input type="text" name="tp_id" data-id="tp_id" class="col-xs-12 col-sm-12" autocomplete="off">
								</div>
							</div>
							<!-- E:THIRD_PARTY -->
						</div>
						<div class="col-xs-12 col-sm-6"></div>
					</div>
				</form>
			</div>
			<div id="ui-configuration" class="tab-pane fade">
				<form name="ui-configuration" class="form-horizontal" role="form">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<!-- B:TIME_ZONE -->
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="form-field-1" data-i18n="users:lbl_timezone"></label>
								<div class="col-xs-12 col-sm-7">
									<select class="col-xs-12 col-sm-12 /*tag-input-style*/ select2" name="timezone" data-id="timezone"></select>
								</div>
							</div>
							<!-- E:TIME_ZONE -->
							<!-- B:UI_LANGUAGE -->
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="form-field-1" data-i18n="users:lbl_ui_language"></label>
								<div class="col-xs-12 col-sm-7">
									<select class="col-xs-12 col-sm-12 select2" name="ui_language" data-id="ui_language"></select>
								</div>
							</div>
							<!-- E:UI_LANGUAGE -->
							<!-- B:UI_HOME_PAGE -->
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="form-field-1" data-i18n="users:lbl_ui_home_page"></label>
								<div class="col-xs-12 col-sm-7">
									<select class="col-xs-12 col-sm-12 select2" name="ui_home_page" data-id="ui_home_page"></select>
								</div>
							</div>
							<!-- E:HOME_PAGE -->
						</div>
						<div class="col-xs-12 col-sm-4"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>