<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>IDCP</h2>
		</div>
		<div class="col-sm-8">
			<p>
				L'IDCP es separa en dues parts clarament diferenciades. Per una part
				trobem el <strong>WebService</strong>, i per l'altre <strong>l'Aplicació
					Client o Front End</strong>
			</p>
			<p>
				Aquest manual del programador es centrarà en <strong>l'Aplicació
					Client</strong>.
			</p>
			<ol>
				<li>Web Service</li>
				<li>Aplicació Client</li>
			</ol>
			<p>El Web Service serà sempre el mateix, és on demanarem la
				informació necessària (tasques, recursos, projectes, etc.).</p>
			<p>En canvi, l'aplicació de client pot variar. Podem programar
				tantes aplicacions de client com volguem, i amb les tecnologies que
				ens resultin més amenes. Sempre tenint en compte que el webservice
				serà qui tindrà la informació i per tant li haurem de demanar a ell.
			</p>
			<p>
				<strong>Si ets un programador local, no has d'accedir
					directament a la base de dades, desde el teu aplicatiu. Has de
					demanar la informació al web service.</strong>
			</p>
			<p>Per tant, podem tenir, donat un web service, multiples
				aplicacions que accedeixin a ell. Podem tenir aquesta aplicació, o
				una aplicació per mòbil, o una tercera aplicació programada en, per
				exemple .NET per tenir una aplicació nativa en Windows.</p>
			<p>També, aplicacions de tercers podràn connectar-se al web
				service per a accedir, manipular, crear o eliminar continguts. Per
				exemple, podrem donar accés a un client nostre perque ens pugui
				crear tasques ell mateix.</p>

			<h4>Web Service/Back End (BE)</h4>
			<p>El web service o API és un servei que la seva única
				funcionalitat és la de gestionar els recursos disponibles.
				S'encarrega doncs, de recuperar, modificar, crear o eliminar
				informació i enviar-la al client que la sol·licita.</p>
			<p>Aquesta informació és transmesa en format JSON. Encara que el
				web service és capaç de respondre en format HTML, XML i text pla,
				també.</p>
			<p>La API també gestiona els usuaris i la validesa de les
				conexions. Això ho fa mitjançant uns tokens que el client ha
				d'enviar per a cada petició, en la capçalera HTTP. Per a cada
				petició, es comprova la validesa del token i els permisos d'aquest
				usuari per accedir a una funcionalitat del web service. Així doncs,
				tothom amb un token vàlid pot accedir a la API, però en funció de
				cada token, podrem accedir a més o menys serveis de la API. La API
				fa servir la tecnologia REST per a servir la informació. Així doncs,
				disposarem d'una serie d'enllaços o métodes que ens permetràn
				accedir a la informació. Per exemple, podem accedir a un llistat
				complet d'usuaris cridant a aquest enllaç:</p>
			<pre>GET http://idcp-api.idisc.es/v1/users</pre>
			<p>Hi haurà un llistat complet d'enllaços i métodes més endavant.
			</p>
			<h4>Aplicació Client/Front End (FE)</h4>
			<p>L'aplicació client és l'aplicació que rep les dades, les
				tracta i les mostra per pantalla per que l'usuari hi pugui
				treballar. És a dir, es tractaria d'aquesta interfície.</p>
			<p>
				Aquesta inferficie ha estat programada exclusivament en <strong>HTML5,CSS3
					i Javascript</strong>. No hi ha, ni hi ha d'haver, codi PHP per entre mig
				d'aquesta aplicació.
			</p>
			<p>
				Utilitzem una potent framework anomenada <strong>jQuery</strong> per
				a facilitar l'accés a la programació. S'haurà d'estar familiaritzar
				amb jQuery per a poder treballar en aquest FE.
			</p>
			<p>
				El Front End fa servir <strong>AJAX</strong> per a tot, tant per a
				rebre les plantilles per a cada plana, com per rebre la informació
				de la API.
			</p>
			<p>Així doncs, tota l'estructura del FE treballa en AJAX, però
				s'ha creat una framework per a abstraure de la majoria de problemes
				que hi podrien haver amb la gestió de múltiples peticions AJAX. Un
				cop carregat el layout, que seria l'element contenidor d'informació
				- el menu, la barra de navegació superior, etc - el contingut de
				cada plana o element es carrega en un div. Quan cliquem en una
				opció, el FE es descarrega l'HTML d'aquella zona i els Javascript
				pertinents. Si hi tornem a accedir, com que ja ho té no ho torna a
				descarregar, a no ser, com veurem més endavant, que ho configurem
				perque ho faci cada vegada.</p>
			<p>Existeix una gestió de pàgines que controla si els elements ja
				han estat descarregats o no,... etc així que no hem de fer
				absolutament res en aquest aspecte. El FE amb el sistema de gestió
				de planes hauria de mostrar sempre el que volem, i no ens hauriem de
				preocupar des d'aon ho esta mostrant o com ho esta fent (a no ser
				que tinguem que sol·lucionar un problema o tinguem curiositat de com
				es fa).</p>

			<pre>
			&lt;div class=&quot;no-visible&quot; data-pagehash=&quot;txfhNaMf&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;no-visible&quot; data-pagehash=&quot;CdOzsGoY&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;no-visible&quot; data-pagehash=&quot;kFPcdUno&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;visible&quot; data-pagehash=&quot;KwwBXCcI&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;no-visible&quot; data-pagehash=&quot;zWDQqJAN&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;no-visible&quot; data-pagehash=&quot;UvYplXek&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;no-visible&quot; data-pagehash=&quot;kIvSzAmX&quot;&gt;&lt;/div&gt;
			</pre>

			<p>A mesura que es van accedint a més zones del FE, més contingut
				tenim descarregat. Aquest contingut es tornant visible o invisible
				en funció de si s'ha o no de mostrar. Resulta interessant saber que
				tenim la opció de crear funcions javascript callback per a executar
				un cada cop que accedim a una zona del FE que ja estigui
				descarregada. Pudé ens interessa actualitzar el contingut de la
				informació, desde la API, cada cop que l'usuari accedeixi a la
				plana, encara que la plana ja hagi sigut descarregada</p>
			<p>És a dir, el primer cop que accedim a una zona del FE (per
				exemple, una opció del menu), el FE es descarrega la plantilla HTML
				i els Javascript Associats. Quan ho té tot, ho pinta per pantalla i
				executa el javascript. El javascript fa el que ha de fer (el que el
				programador hagi programat, evidentment). Pot fer o no les peticions
				a la API que facin falta etc. El segon cop que accedim a la mateixa
				zona del FE, aquest contingunt (plantilla i JS) ja han estat
				descarregats, per tant ni descarrega res, ni executa cap javascript.
				Però sí que crida a una funció javascript, per si el programador
				necessita executar quelcom cada cop que s'hi accedeixi. Aquesta
				funció ha de tenir el següent format:</p>
			<strong>callback_NOMPLANTILLAHTML</strong>
			<p>És a dir, si la plantilla HTML es diu "example.html", la
				nostra funció de callback es dirà:</p>
			<strong>callback_example</strong>
			<pre>
				function callback_example(){
					console.log("Callback example!!");
					example.reload();
				}			
			</pre>
			<p>
				<strong>Aqui podreu trobar exemples de com crear un nou
					menu o opció de menu, com crear una plana HTML, com localitzar
					contingut, com aprofitar aquesta framework, etc</strong>
			</p>
		</div>
	</div>
</div>