<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>Localitzar contingut</h2>
		</div>
		<div class="col-sm-8">
			<p>
				L'aplicatiu fa servir un plugin de jQuery per a localitzar el
				contingut. Totes les cadenes de text es troben a la carpeta <strong>/locales</strong>.
				Allà dintre, hi trobarem, separat per carpetes, els idiomes per els
				quals tenim traducció. Si volem crear un nou idioma, haurem de crear
				una carpeta nova, amb l'id de l'idioma. Després haurem també
				d'informar a l'aplicatiu que volem detectar un nou idioma, i això ho
				farem incloent l'id d'idioma en l'array d'idiomes disponibles en
				l'aplicatiu. Això es pot fer en el fitxer <strong>config.js</strong>
				que trobarem a <strong>/app/</strong>.
			</p>
			<pre>
				window['applicationConfig'] = {
					debug : true, // Debug mode on/off console.log and gritter messages
					api : '//idcpws' + (window.location.hostname).replace("idcpfe", "") + '/v1/', // Web service URI
					langs : [ "en", "es", "fr","ca" ], // Available languages
					title : "IDCP - ", //Prefis title
					timeoutWarning: 30, //seconds
				};
			</pre>
			<p>Quan volguem crear contingut nou, cerquem el nom del fitxer i
				hi afegim el nou contingut traduit. Si és una plana nova, creem el
				fitxer.</p>
			<pre>
				{
					"cpuLoadGraphTitle" : "CPU usage (%)",
					"memLoadGraphTitle" : "Memory usage (%)",
					"apreqpersecGraphTitle" : "Requests/second",
					"apkbitsecGraphTitle" : "Bandwidth (kBits/s)",
					"avgrestimeGraphTitle" : "Response time (ms)"	
				}
			</pre>
			<p>Per accedir a cada cadena de traducció, hem de saber a quin
				fitxer es troba i quin és l'identificador del fitxer.</p>
			<p>
				Per localitzar el contingut de les nostres planes, hem d'associar un
				identificador de la cadena traduida amb la nostra plana. En HTML hem
				de fer servir l'atribut <strong>data-i18n</strong>, en el qual
				escribim el nom del fitxer on trobarem la localització i
				l'identificador
			</p>
			<pre>
					&lt;div&gt;
						&lt;h2 data-i18n=&quot;example:titolPagina&quot;&gt;&lt;/h2&gt;
					&lt;/div&gt;
				</pre>
			<p>Per a traduir el contingut del HTML, haurem de cridar a dos
				métodes de la clase i18n. El primer és per carregar l'espai de noms
				que volguem (el nom del fitxer amb les cadenes per traduir), mentre
				que el segon és per a localitzar el contingut del HTML. En aquest
				cas, hem d'aportar l'element jQuery que volem que el contingut
				contenit en el seu interior sigui traduir, i després cridar al
				plugin i18n().</p>
			<p>
				Després, si volem accedir a les cadenes traduides des de javascript,
				es crida al métode <strong>$.t();</strong>
			</p>
			<pre>
				// Load layout.json in login namespace
				i18n.loadNamespace('example'); 

				// Localize data-i18n attributes
				idcp.layout_root.i18n();
				
				//Get the localized text for "apkbitsecGraphTitle"
				$.t('example:apkbitsecGraphTitle');
			</pre>
			<p>
				Per acabar, haurem d'editar el fitxer <strong>map.json</strong> per
				afegir el require correcte per a carregar aquesta nova plana.
			</p>
		</div>
	</div>
</div>