<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>Crear nou contingut</h2>
		</div>
		<div class="col-sm-8">
			<p>Per a crear nou contingut en una pàgina, haurem de treballar
				en HTML5. Si els contingut són estatics, el funcionament és
				l'habitual.</p>
			<p>
				Només hem de tenir en compte que aquest aplicatiu treballa sobre <strong>bootstrap</strong>.
				Hem de fer servir les classes apropiades de bootstrap perque el
				disseny sigui completament responsiu.
			</p>
			<pre>
				&lt;div class=&quot;row&quot;&gt;
					&lt;div class=&quot;col-sm-2&quot;&gt;
						&lt;h2&gt;Titol de la meva plana&lt;/h2&gt;
					&lt;/div&gt;
					&lt;div class=&quot;col-sm-12&quot;&gt;
						&lt;p&gt;Paragraf A&lt;/p&gt;
						&lt;ol&gt;
							&lt;li&gt;Llista ordenada&lt;/li&gt;
							&lt;li&gt;Llista ordenada&lt;/li&gt;
							&lt;li&gt;Llista ordenada&lt;/li&gt;
							&lt;li&gt;Llista ordenada&lt;/li&gt;
							&lt;li&gt;Llista ordenada&lt;/li&gt;
						&lt;/ol&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			</pre>
			<p>
				Si el que necessitem és contingut dinàmic, o accedir a la API,
				haurem de crear un js i cridar-lo després de la plantilla HTML que
				hem creat, en el require del <strong> map.json</strong>.
			</p>
			<p>El script javascript podrà cridar al web service amb la funció
			</p>
			<pre>
				$i.getPromise("POST","management/getServerStatus")
				.done(function(data){
					onDataReceived(data);
				});
			</pre>
			<p>Sabent el métode i la URL podrem obtenir la informació. El
				token es passa automàticament desde dintre del métode. Un cop
				obtingui la informació, cridarà a la funció .done() i allà tindrem
				la informació en la variable "data" (o com li volguem dir)</p>
			<p>
				Si volem, afegir events, botons o actualitzar contingut de la
				plantilla, haurem de crear els elements <strong>data-id</strong>.
			</p>
			<pre>
				&lt;div class=&quot;row&quot;&gt;
					&lt;div class=&quot;col-sm-2&quot;&gt;
						&lt;h2&gt;Titol de la meva plana&lt;/h2&gt;
					&lt;/div&gt;
					&lt;div class=&quot;col-sm-12&quot;&gt;
						&lt;p&gt;Paragraf A&lt;/p&gt;
						&lt;ol data-id=&quot;llistaOrdenada&quot;&gt;
						&lt;/ol&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			</pre>
			<p>En el fitxer javascript, per accedir a l'element amb
				data-id="llistaOrdenada", haurem d'actuar així:</p>
			<pre>
				var llistaOrdenada = $i('#llistaOrdenada');
			</pre>
			<p>
				La variable <strong>llistaOrdenada</strong> serà l'objecte jQuery
				que correspondrà a aquest data-id.
			</p>
			<p>Per omplir aquest llistat amb la informació del web service:</p>
			<pre>
				$i.getPromise("POST","management/getServerStatus")
				.done(function(data){
					var llistaOrdenada = $i('#llistaOrdenada');
					$.each(data,function(key,value){
						llistaOrdenada.append('&lt;li&gt;'+value.idResultat+'&lt;/li&gt;');
					});
				});
			</pre>
			<p>Sent idResultat un element vàlid de l'objecte JSON.</p>
			<p>Sino sabem que retorna aquesta URL de la API, bé podem llegir
				la documentació d'aquesta URL o métode en qüestió, o previament a
				obtenir el valor que desitjem, podem fer un</p>
			<pre>
				console.log(data);
			</pre>
			<p>Per veure per consola tota la informació i determinar quina
				volem pintar per pantalla.</p>
		</div>
	</div>
</div>