<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>Crear un nou menu</h2>
		</div>
		<div class="col-sm-8">
			<p>
				S'ha de modificar el fitxer <strong>fullmenu.json</strong> que es
				troba a <strong>/app/json/fullmenu.json</strong>. Seguint
				l'estructura JSON s'ha de crear un nou objecte just després de
				l'últim. Recordar que cal afegir una coma en l'últim objecte. El nom
				del menu serà el nom de l'objecte JSON. En aquest cas és "example".
				S'han de complimentar les següents variables:
			</p>
			<ul>
				<li>modules (array) <small>Determina quin mòdul o
						mòduls seràn necessàris per a mostrar el menu. Si l'usuari no té
						algun dels mòduls, el menu no es mostrarà</small></li>
				<li>actions (array) <small>Determina quina acció o
						accions seràn necessàries per a mostrar el menú. Si l'usuari no té
						alguna de les accions, el menu no es mostrarà</small></li>
				<li>route (string) <small>URL que cridarà al clicar al
						menu. Es recomana que sigui el mateix nom que l'objecte, però és
						una recomanació només.</small></li>
				<li>icon (string) <small>L'icone és opcional. Si el
						volem, incloem la classe de font-awesome amb l'icone que desitgem.</small></li>
			</ul>
			<pre>
				"example" : {
					"modules" : ["management"],
					"actions": ["Developer Example"],
					"icon" : "icon-bar-chart", 
					"route" : "example"
				}
			</pre>
			<p>
				Després s'ha de modificar el fitxer <strong>map.json</strong> per
				afegir la ruta del fitxer o fitxers que es carregaràn al clicar en
				el menú. El fitxer es troba a <strong>/app/json/map.json</strong> El
				nom de l'objecte ha de ser la URL desde la qual servirem els
				fitxers. L'objecte ha de tenir com a mínim la variable <strong>require</strong>
				que estarà formada per un array amb els fitxers a carregar.
			</p>
			<pre>
				"/example" : {
					"require" : ["/content/example/example.html","/content/example/js/example.js"]
				}
			</pre>
		</div>
	</div>
</div>