<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>Crear una nova pàgina</h2>
		</div>
		<div class="col-sm-8">
			<p>Hem de crear la nova pàgina html en una de les carpetes que hi
				ha a content. Cada carpeta representa un element del menu principal.
				Si la carpeta ha de penjar d'algun d'aquests elements de menu,
				l'haurem de crear dintre. Si volem crear un menu nou, haurem de
				crear una nova carpeta.</p>
			<p>S'ha de tenir en compte que aquest aplicatiu no treballa amb
				atributs "id" html, sinó que fa servir uns atributs especials
				"data-id". Això s'ha de tenir en compte. Cada pàgina web nova ha de
				tenir un div contenidor on hi anirà tot a dintre.</p>
			<pre>
				&lt;div&gt;
					&lt;h2&gt;Contingut de la nova plana web&lt;/h2&gt;
				&lt;/div&gt;
			</pre>
			<p>
				Després, haurem d'editar el fitxer <strong>map.json</strong> per
				afegir el require correcte per a carregar aquesta nova plana.
			</p>
		</div>
	</div>
</div>