<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i</h2>
		</div>
		<div class="col-sm-8">
			<p>
				L'objecte <strong>idcp</strong> i el seu àlias <strong>$i</strong>
				contenen tots els métodes de la framework
			</p>
			<p>
				Aquest objecte es crea i s'inicialitza el primer de tot. Internament
				fa servir <strong>jQuery</strong> en alguns métodes.
			</p>
			<p>És l'encarregat de crear l'estructura bàsica de l'aplicació i
				utilitzant-lo serà la manera correcte de desenvolupar noves planes,
				continguts i funcionalitats.</p>
			<p>Llistat de funcions i métodes de la Framework desenvolupada
				per a aquesta aplicació FE.</p>
			<ul>
				<li>require</li>
				<li>intervals</li>
				<li>sessionManagement</li>
				<li>getPromise</li>
				<li>checkToken</li>
				<li>pages</li>
				<li>goLogin</li>
				<li>addSubTitle</li>
				<li>documentTitle</li>
				<li>userInfo</li>
				<li>menuLinksEnabled</li>
				<li>setPageButtons</li>
				<li>setCookie</li>
				<li>readCookie</li>
				<li>deleteCookie</li>
				<li>getAppMap</li>
				<li>_GET</li>
				<li>followLink</li>
			</ul>
		</div>
	</div>
</div>