<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.graphs</h2>
		</div>
		<div class="col-sm-8">
			<p>Crea una gràfica i permet agrupar resultats</p>
			<p>Opcions:
			<ul>
				<li><span>data: (object) D'on treurem la informació del
						Web Serviceper omplir la gràfica</span>
					<ul>
						<li>url: (string) Adreça REST del Web Service</li>
						<li>fields: (array) Camps que necessitarem que ens retorni el
							Web Service</li>
					</ul></li>
				<li><span>graph: (object) Determinem què serà el nom de
						cada element del gràfic i què serà el valor del gràfic</span>
					<ul>
						<li>label: (string) camp per al nom</li>
						<li>data: (string) camp per al valor</li>
					</ul></li>
				<li>minGroup: (integer) Quants elements agruparem que començant
					pels que menys valor ténen.</li>
				<li>box: (jQuery). Objecte jQuery a on posarem el gràfic.</li>
			</ul>
			</p>
			<pre>
				//Roles chart
				$i.graphs({
					data: {
						url: 'roles',
						fields: ["RNAME","USERS"],
					},
					graph: {label: 'RNAME',data: "USERS"},
					minGroup: 2,
					box: $('#roles-chart-placeholder')
				});
			</pre>
		</div>
	</div>
</div>