<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.grids</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Clase grid.<br /> @author: phidalgo<br /> @data: 30/03/2014<br />
				@projecte: IDCP 2014 Front End<br /> <br /> TODO: Aquesta classe
				ha sofert canvis considerables. La majoria de funcionalitats
				llistades segueixen funcionant, però s'han afegit d'altres que també
				són rellevants.<br /> <br /> Aquest objecte crea una taula
				configurable amb els paràmetres que se li passen.<br /> Aquest
				objecte té associat una clase anomenada grid en el backend que
				processa la petició automatizada i crea la consulta.<br />
				Paràmetres de configuració. S'ha de passar en el constructor un
				objecte config amb la següent configuració. Alguns paràmetres són
				opcionals.<br /> <br /> rest: String | REST URL a on anirà la
				petició.<br /> (opcional) title: String | Títol de la taula.<br />
				(opcional) sortable: bool | Indica si les columnes seràn ordenables.<br />
				(opcional) defaultsort: Object {col:String _COLUMNA_DB_,sort: String
				_ORDRE_ (valors fixats: asc o desc)}<br /> (opcional) searchable:
				String | Camps per a on la cerca mirarà el string de la cerca.
				Valors separats amb coma.<br /> idTable: string | Identificador de
				la taula, el camp ID de l'element &lt;table&gt;<br /> (opcional)
				rowid: Object {fieldId: String _COLUMNA_DB_,startId: String
				_START_ID} | Si volem que cada &lt;tr&gt; tingui un identificador
				únic, li posem.<br /> (opcional) tipscol: bool | Indica si vols una
				columna addicional amb botons d'editar, eliminar, etc.<br />
				(opcional) maxWidthtd: integer | Per si volem fixar un ample màxim
				per a cada columna. (No funciona massa bé, suposo que per
				interferencies amb classes del bootstrap).<br /> (opcional)
				dataType: array(String)[_COLUMNA_DB_] | Si hi és, afegeix atributs
				en el
				<td>del tipus data-type amb el nom de la columna de la db.<br />
					(opcional) appendCode: function | Si hi és, cada cop que realitzem
					una petició (per ordre, cerca, filtratge) s'executa aquesta funció,
					que pot servir per afegir configuracions personalitzades<br />
					(opcional) paging: Object {defaultRowsPage: Integer,(opcional)
					rowsList: array(Integer)} | Si hi és, s'habilita la paginació, el
					primer camp determina el nombre de regisres per defecte.<br /> El
					segon camp, si hi és, afegeix un select amb els valors que s'hi
					posin, per que l'usuari pugui decidir el nombre de registres per
					pàgina.<br /> <br /> (opcional) cols: array(Object {colName:
					_COLUMNA_DB_, colTitle: String,sort: bool}). Si hi és, especifica
					quines columnes es veuràn, sino, es veuràn totes les columnes de la
					resposta<br /> del WebService.<br /> Dels paràmetres dels
					objectes de l'array, especifiquem la columna de la base de dades i
					el titol. Addicionalment es pot afegir el camp sort, que si val
					false, especifiquem<br /> que aquella columna NO serà objecte
					d'ordenació - en cas que les columnes siguin ordenables.<br /> <br />
					(opcional)filter: array(Object {field: _COLUMNA_DB_,type:
					String,title: String,dataSource: mixed array|function})<br /> Si
					hi és, afegeix filtres personalitzables a la taula.<br /> Dels
					paràmetres dels objectes de l'array:<br /> field: Columna de la DB
					a on es filtrarà<br /> type: Tipus de filtre HTML:<br /> -date:
					Si volem filtrar per un camp data (input type="text"
					class="date-picker").<br /> -text: Si volem filtrar per un camp de
					text (input type="text ...)<br /> -select: Si volem filtrar per un
					camp desplegable.<br /> title: Títol del camp.<br /> dataSource:
					En camps del tipus "text i select", seleccionem el métode de
					carrega d'informació. En el cas del text, està programat que pugui
					ser un autocomplete (JqueryUI)<br /> Es pot donar un array amb
					dades, que en el cas de select, value==text, o una funció on podrem
					personalitzar la informació.<br /> dbdata: Especifiquem el tipus
					de camp de filtre de la base de dades, si per exemple és un camp
					data farem un trunc(data) = valor, si és un text farem
					upper(data)=valor, etc.<br /> <br /> S'ha de fer notar que en els
					camps de filtratge, si el valor de filtratge comença amb NOT_, el
					WS esta preparat per negar aquella condició.<br /> és a dir si jo
					tinc un filtre com:<br /> {field: "COLUMNA_TIPUS",type: "select",
					title: "Titol Columna Tipus", dataSource: ["Valor 1","NOT_Valor
					1"],dbdata: 'text'}<br /> El valor "Valor 1" serà COLUMNA_TIPUS =
					"Valor 1".<br /> El valor "NOT_Valor 1" serà COLUMNA_TIPUS !=
					"Valor 1"<br /> <br /> Totes les funcions que s'espeficiquen aqui
					en la configuració, retornen un objecte JQUERY de l'element en
					questio. Per exemple, si fem una funció per omplir un select<br />
					d'un filtre, podem crear la funció això function xxxx(input){} on
					input serà l'objecte JQUERY de l'element on hem d'afegir la
					informació.<br /> AppendCode però, retorna l'id de la taula,
					perque ha de ser lo suficientment genèric com per poder
					personalitzar algunes accions.<br />
			</p>
			<pre>
   		   		idcp.grids({
					appendTo: $('#users-list-grid'),
					rest: {url: 'users/tokenInfo', method: 'POST'},
					idTable: 'usersLtable',
					title: 'Users Sessions',
					rowId: {fieldId: 'ID_USER',startId: 'uid'},
					sortable: true,
					defaultsort: '-USERNAME',
					searchable: "USERNAME",
					maxWidthtd: '200',
					dataType: ["ID_USER","USERNAME"],
					appendCode: process,
					paging: {
						defaultRowsPage: 10,
						rowsList: ["10","25","50","100"]
					},
					cols: [
					       	{
					       		colName: ':DROP_BUTTON', //Reserved WORD :DROP_BUTTON!!!
					       		colTitle: $.t("security-dashboard:action_drop_button"),
					       		actions: [
			                       {action:'BAN',title: $.t("security-dashboard:action_ban"),icon: 'ace-icon fa fa-ban red'},
			                       {action:'KICK',title: $.t("security-dashboard:action_kick"),icon:'ace-icon fa fa-eye-slash red'}
			                    ],
			                    help: true, //Adds buttons to "check" and "uncheck" all checkboxes
			                    onclick: doAction
					       	
					       	},
						{colName: 'USERNAME', colTitle: $.t("security-dashboard:col_username")},
						{colName: 'RNAME', colTitle: $.t("security-dashboard:col_rname")},
						{colName: 'FIRST_ACCESS',colTitle: $.t("security-dashboard:col_first_access"), dataType:'DATETIME'},
						{colName: 'LAST_ACCESS',colTitle: $.t("security-dashboard:col_last_access"), dataType:'DATETIME'},
						{colName: 'EXPIRES',colTitle: $.t("security-dashboard:col_expires"), dataType:'DATETIME'},
						{colName: 'REMOTE_ADDR',colTitle: $.t("security-dashboard:col_remote_addr")},
						{colName: 'SESSION_TOKEN',colTitle: $.t("security-dashboard:col_session_token")}
					],
					returnFields: ["ID_USER","USERNAME","RNAME","EXPIRES","LAST_ACCESS","FIRST_ACCESS","REMOTE_ADDR","SESSION_TOKEN"]
				});
   		   	</pre>
		</div>
	</div>
</div>