<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.gritters</h2>
		</div>
		<div class="col-sm-8">
			<p>
				Adds a gritter by using the default APP configuration. It will be
				displayed as many time as you've configured on <strong>config.js</strong>
				application file. By default: 5 seconds.
			</p>
			<p>Options:
			<ul>
				<li>type: This option is mandatory.
					<ul>
						<li>Success: Use it when the operation has ended correctly</li>
						<li>Warning: Use it when the operation has ended, but you
							have to notify something regarding the current operation.</li>
						<li>Fail: Use it when the operation has ended but it's
							failed.</li>
					</ul>
				</li>
				<li>title: Title of the gritter</li>
				<li>description: GritterDescription</li>
				<li>Sticky: boolean. Set true the gritter will permanently
					visible until the user closes it. False: it will disapear after "x"
					time, setted properly on config.js</li>
			</ul>
			</p>
			<pre>
				$i.gritter({
						type: "success", //Mandatory
						title: "Success",
						description: "Department <a>"+name+"</a> successfully deleted"
					});
			</pre>

			Method code:
			<pre>
				gritters = function(config){
					var title = config.title || '';
					var type = config.type || null;
					var description = config.description || '';
					var sticky = config.sticky || false;
					
					if(type==null){
						throw new appError(3000);
					}
					
					var cName = '';
					switch(type){
						case "success":
							cName = 'gritter-success gritter-ligth';
							if(title==''){
								title = "Success";
							}
							break;
						case "warning": 
							cName = 'gritter-warning gritter-ligth';
							if(title==''){
								title = "Warning";
							}
							break;
						case "fail":
							cName = 'gritter-error gritter-ligth';
							if(title==''){
								title = "Fail";
							}
							break;
						default:
							cName = '';
					}
					
					
					$.gritter.add({
						title: '&lt;h3&gt;'+title+'&lt;/h3&gt;',
						text:  '&lt;strong&gt;'+description+'&lt;/strong&gt;',
						class_name: cName,
						sticky: sticky, 
						time: $i.gritterTime // (int | optional) the time you want it to be alive for before fading out (milliseconds)
					});
				};
				
				idcp.gritter = function(config){
					return new gritters(config);
				};
			</pre>
		</div>
	</div>
</div>