<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.lists</h2>
		</div>
		<div class="col-sm-8">
			<p>Crea un llistat d'objectes del webservice i els mostra per
				pantalla. La llista és scrollable, és a dir que podem paginar-la i a
				mesura que anem fent scroll, apareixeràn més resultats, fins al
				final.</p>
			<p>Opcions:
			<ul>
				<li>container: (jQuery) Objecte on anirà la llista</li>
				<li>title: (string) Títol de la llista</li>
				<li><span>rest: (object) Informació del webservice:</span>
					<ul>
						<li>url: (string) adreça REST d'on obtindrem la informació</li>
						<li>method: (string) mètode HTTP per accedir a l'adreça REST</li>
						<li>paging: (integer) Nombre d'elements per pàgina</li>
						<li><span>results: (object) Dels valors retornats pel
								webservice, quins pintarem</span>
							<ul>
								<li>id: (string) es crearà un atribut data-[NOM_ID] al li
									corresponent amb el valor restornat</li>
								<li>value: (string) el valor visible.</li>
							</ul></li>
					</ul></li>
				<li>search: (string) El camp per el qual volem cercar, separats
					per coma varis camps.</li>
				<li>data: (array) Si volem camps addicionals data, els posarem
					aqui.</li>
				<li><span> selectable: (boolean). Si volem que la llista
						permeti sel·leccionar elements. També posa un check al header amb
						la funcionalitat de sel·leccionar tots. </span>
					<p>Aquesta classe només sel·lecciona els elements, el
						tractament corre a part del programador.</p></li>
				<li><span>scroll: (object). Si volem permetre el scroll
						o no (recomanat que es faci scroll).</span>
					<ul>
						<li>height: (integer) Alçada del scroll.</li>
						<li>Visible: (boolean). Si volem que es mostri la barra del
							scroll</li>
					</ul></li>
				<li><span>sliderData: (object). Si, quan cliquem en el
						valor de l'element de la llista, volem carregar informació
						addicional</span>
					<ul>
						<li><span>content: (object) Conté d'on obtindrem la
								informació, i què haurem d'executar al acabar.</span>
							<ul>
								<li><span>rest: (object) Objecte de conexió al Web
										Service</span>
									<ul>
										<li>url: (string) URL d'on treurem la informació. Si li
											passem l'ID del camp RESULT de l'objecte de la llista,
											agafarà aquest ID i el reemplaçarà</li>
										<li>method: (string) mètode HTTP per accedir a l'adreça
											REST</li>
										<li>params: (object) Paràmetres per a enviar-li al Web
											Service</li>
									</ul></li>
								<li>done: (function) Funció a on se li passarà l'objecte
									JSON retornat pel WebService. Aquesta funció ha de retornar el
									HTML generat perque la llista el pugui incloure en el lloc
									corresponent.
									<p>Aquesta funció s'executarà només quan l'usuari cliqui
										sobre el valor del llistat</p>
								</li>
							</ul></li>
					</ul></li>
				<li>done: (function) Funció que s'executarà quan la llista
					estigui completament carregada.</li>
			</ul>
			</p>

			<pre>
				$i.lists({
					container: $i('#users-in-department'),
					title: $.t('users-department:departmentUsersTitle') +  department_name,
					rest: {
						url: 'departments/'+id_department+'/getUsers',
						method: 'POST',
						paging: 20,
						results: {
							id: 'ID_USER',
							value: 'USERNAME'
						}
					},
					search: 'USERNAME',
					data: ["MAIN"],
					selectable: true,
					scroll: {height: 450,alwaysVisible: true},
					sliderData: {
						content: {
							rest: {
								url: 'users/ID_USER',
								method: 'GET',
								params: null,
							},
							done: renderUserData
						}
					},
					done: function(){
						$i('#users-in-department li[data-main="S"]').each(function(){
							$(this).find('input').prop("checked",false);
							$(this).find('input').prop("disabled","disabled");
							$(this).find('input').addClass("disabled");
						});
					}
				});
			</pre>
		</div>
	</div>
</div>