<div data-nocache>
	<div class="row">
		<div class="col-sm-2">
			<h2>$i.modals</h2>
		</div>
		<div class="col-sm-8">
			<p>Crea una finestra modal amb la configuració que se li passa.</p>
			<p>Opcions:
			<ul>
				<li>title: Titol de la finestra modal.</li>
				<li>description: Descripció de la finestra modal</li>
				<li>success: <strong>obligatori.</strong> Funció que s'ha
					d'executar si es confirma l'acció de la finestra
				</li>
				<li>cancel: Funció que es pot executar si es cancela l'acció de
					la finestra</li>
				<li>bind: Objecte jQuery a on s'enllaçarà l'event</li>
				<li>event: Tipus d'event que farà cridar la finestra modal. Són
					els tipics del mètode .on de jQuery (click, keyup, ...)</li>
			</ul>
			</p>
			<p>Si no es passa cap bind, la finestra s'obrirà automàticament.
				Si es passa bind, s'obrirà quan l'usuari realitzi l'event.</p>
			<p>Throws appError quan:
			<ul>
				<li>Se li passa bind però no és objecte jQuery.</li>
				<li>S'intenta executar la funció success o cancel i peta.</li>
			</ul>
			</p>
			<pre>
				$i.modal({
					show: true,
					title: 'Delete department',
					description :  '&lt;p&gt;Are you sure you want to delete this department?&lt;/p&gt;',
					success: function(){
						id = jqElement.data('id_department');
						name = jqElement.data('dname');
						idcp.getPromise("DELETE","departments/"+id)
						.done(function(){
							jqElement.hide('slow', function(){ jqElement.remove(); });
							$i.gritter({
								type: "success",
								title: "Success",
								description: "Department &lt;a&gt;"+name+"&lt;/a&gt; successfully deleted"
							});
						});
					},
					//cancel: function(){
					//	console.log("Cancel event!");
					//}
					//bind: $i.pages.find.visible(),
					//event: 'click'
				});
			</pre>
		</div>
	</div>
</div>